BODY {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    font-family: Arial,"sans serif";
}

.a_left{
    text-align: left;
}

.a_right{
    text-align: right;
}

input[type='checkbox'] {
    width: auto;
    margin-right: 4px;
    visibility: hidden;
}

input[type='checkbox']+label {
    cursor: pointer;
    position: relative;
}

input[type='checkbox']+label:before {
    width: 12px;
    height: 12px;
    background-color: #FFFFFF;
    border: 1px solid #B5BCC5;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px #B5BCC5;
    margin: auto;
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    top: -3px;
}

input:checked + label:after {
    width: 13px;
    height: 10px;
    display: block;
    position: absolute;
    left: -18px;
    top: -1px;
    background-image: url("/images/check.png");
    content: '';
}


p {
    line-height: 20px;
}

.vseGreen{
    color: #819625;
}

.vseOrange{
    color: #ff6900;
}

#app_body,
#app_body p {
    font-family: Verdana, Helvetica, "san-serif";
}

#app_body a.form_link {
    font-family: "HelveticaNeue", sans-serif;
    /*font-weight: bold;*/
}

.clear{
    float: none;
    clear: both;
}

.form_item p,
.clickBox,
.clickBox span,
.walletBox,
.walletBox span,
.tableBox,
.tableBox td,
.bottomText,
.notice,
.notice div,
.notice span,
.categoryText,
ul li span,
.baseTable thead tr th,
.passiveTop span,
.activeTop span,
.orangeResult,
.greenResult,
.largeText,
.largeComment,
.totalMenu,
.bigText,
.bigComment,
#app_body a.form_link,
.vse-tabs{
    letter-spacing: 0.04rem;
}

.incoming_tr {
    color: #819625;
}

.transport_tr {
    color: #187585;
}

.split {
    position: relative;
    width: 22px;
    height: 17px;
    top: 6px;
    margin: 0 8px;
    vertical-align: middle;
    background-image: url("../images/split.png");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    float: right;
}

.horisontal_line {
    height: 1px;
    background-color: #cbd5dd;
}

.pagingBox {
    float: right;
    margin: 25px 20px 0px;
    font-family: Arial;
    height: 22px;
}

.paging {
    float: left;
    margin-left: 3px;
}

.imgnone {
    width: 26px;
    line-height: 19px;
    height: 19px;
    text-align: center;
    color: #252525;
}

.imgcolor {
    width: 26px;
    line-height: 19px;
    height: 19px;
    background-color: #f0f4f4;
    box-shadow: 0 0 1px #f0f4f4;
    border-radius: 2px;
    text-align: center;
    color: #187585;
}

.imgfirst {
    background-image: url("../images/imgfirst.png");
    width: 22px;
    height: 19px;
}

.imgprev {
    background-image: url("../images/imgprev.png");
    width: 22px;
    height: 19px;
}

.imgnext {
    background-image: url("../images/imgnext.png");
    width: 22px;
    height: 19px;
}

.imglast {
    background-image: url("../images/imglast.png");
    width: 22px;
    height: 19px;
}

.additional_pagin_box {
    width: 110px;
    height: 19px;
    position: relative;
    float: left;
    margin-left: 3px;
}

.pagingBox input[type='text'] {
    width: 30px;
    height: 19px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #d6e2e2;
    box-shadow: none;
    font-size: 12px;
    color: #252525;
    vertical-align: middle;
    padding: 0;
    float: left;
}

.pagingcount {
    width: 30px;
    line-height: 19px;
    height: 19px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #d6e2e2;
    float: left;
}

.pagingtext {
    line-height: 19px;
    height: 19px;
    width: 20px;
    text-align: center;
    float: left;
}

.pagingsubmit {
    background-image: url("../images/imgsubmit.png");
    width: 22px;
    height: 22px;
    text-align: center;
    float: left;
    margin-left: 4px;
    top: -1px;
}

.checkbox {
    width: 12px;
    height: 12px;
    background-color: #FFFFFF;
    border: 1px solid #B5BCC5;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px #B5BCC5;
    /*margin: auto;*/
    top: 1px;
}


.baseTable thead tr th {
    font-weight: normal;
    padding: 6px;
}

.clickBox span,
.walletBox span,
.notice .noticeTitle,
.HelveticaNeueBold,
.emptyBox .categoryText,
.totalBox .largeText,
.bottomBox > span,
.tbody4 {
    font-family: "HelveticaNeue Bold", sans-serif;
}

.titleBox span {
    line-height: 24px;
}

.modalHolder {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0px;
    left: 0px;
    z-index: 10001;
}

.modalWindow {
    width: 400px;
    margin-left: -200px;
    /*height: 250px;*/
    margin-top: -120px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fcfcfc;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}

.modalMessage {
    padding: 30px;
    font-size: 20px;
    color: #222;
}

.modalButtons {
    text-align: center;
    padding: 40px 25px 25px;
}

.modalButtons input {
    /*margin: 0px 20px;*/
    /*color: #555;*/
    /*FAFF00 FFC00A*/
    /*background-image: -moz-linear-gradient(top, #FAFF00 0, #FFC00A 100%);*/
    /*background-image: -ms-linear-gradient(top, #FAFF00 0, #FFC00A 100%) !important;*/
    /*background-image: -o-linear-gradient(top, #FAFF00 0, #FFC00A 100%);*/
    /*background-image: -webkit-linear-gradient(top, #FAFF00 0, #FFC00A 100%);*/
    /*background-image: linear-gradient(to bottom, #FAFF00 0, #FFC00A 100%) !important;*/
    /*background-color: #fa9f00;*/
    /*border-top: 1px solid #faaf00;*/
    /*border-bottom: 1px solid #ec9f00;*/
    /*border-left: 1px solid #faaf00;*/
    /*border-right: 1px solid #faaf00;*/
}

@-moz-document url-prefix() {
    .modalButtons input {
        padding-top: 3px;
    }
}

input[type='submit'].large,
input[type='button'].large{
    height: 35px;
    line-height: 35px;
    font-weight: bold;
}

input[type='submit'].small,
input[type='button'].small{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}

.modalButtons input.cancel ,
input.vse-cancel{
    margin: 0 10px;
    color: #3c3a35;
    border: 1px solid #c2c2c2;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f8f8f8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */

}

.modalButtons input.cancel:active ,
input.vse-cancel:active{
    background: #f8f8f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8f8f8 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f8f8f8 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.floatHeader{
    float: left;
}

.tableFilters{
    margin: 16px 0;
    float: right;
    height: 26px;
    min-width: 50px;
}
.tableFilters .filterItem{
    margin-left:10px;
    float: left;
    position: relative;
}

.filterItemConfig{
    width: 8px;
    height: 24px;
    position: relative;
    cursor: pointer;

}

.filterItemConfig:after{
    content: '';
    position: absolute;
    border-top: 6px solid #aaa;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    width: 0;
    height: 0;
    top:40%;
    left:1px;
}

.dropDownTitle{
    padding: 3px 3px 3px 25px;
    border-bottom: 1px solid #aaa;
    position: relative;
    cursor: pointer;
    margin-bottom: 4px;
}

.dropDownTitle:after{
    content: '';
    position: absolute;
    border-bottom: 6px solid #aaa;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    width: 0;
    height: 0;
    top:3px;
    right:1px;
}


.fakecheckbox{
    display: block;
    padding: 5px 10px 5px 25px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}

.fakecheckbox:before{
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #FFFFFF;
    border: 1px solid #B5BCC5;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px #B5BCC5;
    top: 4px;
    left: 4px;
}

.fakecheckbox.checked:after{
    background-image: url("/images/check.png");
    content: '';
    display: block;
    height: 10px;
    left: 6px;
    position: absolute;
    top: 6px;
    width: 13px;
}


.itemDropDown{
    position: absolute;
    z-index: 10001;
    border-radius: 5px;
    border:1px solid #aaa;
    background-color: #fff;
    box-shadow: 3px 3px 9px #B5BCC5;
    padding: 10px;
    right: -10px;
    top:24px;
    min-width: 100px;
    min-height: 100px;
}

.dateInput .itemDropDown{
    right: 0px;
    top:23px;
    padding: 0;
}

.rangePicker{
    cursor: pointer;
    float: left;
    margin-left: 5px;
    height: 24px;
    min-width: 30px;
    line-height: 25px;
    background-color: #FFFFFF;
    color: #aaa;
    text-align: center;
    border: 1px solid transparent;
}

.rangePicker:hover {
    color:#000;
}
.rangePicker.checked,
.filterItem .dateInput{
    border: 1px solid #B5BCC5;
    border-radius: 3px;
    color: #000;
}

.filterItem .dateInput.dateFrom:before{
    content: 'Период';
    font-size: 8px;
    position: absolute;
    top:-13px;
    left: 3px;
    line-height: 0.875rem;
}

.filterItem .dateInput{
    display: inline-block;
    width: 80px;
    height: 24px;
    cursor: pointer;
    position: relative;
    line-height: 25px;
    text-align: center;
    color: #aaa;
}


.totalMenu {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 8px;
    width: 210px;
    line-height: 36px;
    padding: 0px 0px 0px 24px;
    color: #464646;
    cursor: pointer;
}


.totalMenu.selected {
    cursor: default;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 8px;
    width: 210px;
    line-height: 36px;
    background: none repeat scroll 0% 0% #4A4C4F;
    color: rgb(255, 255, 255);
    box-shadow: -8px 0px 0px rgb(255, 105, 0);
    padding: 0px 0px 0px 24px;
}

.selectableClickBox .clickBox{
    cursor: pointer;
}
.selectableClickBox .clickBox.selected{
    cursor: default;
    background: none repeat scroll 0% 0% #4A4C4F;
    color: #fff !important;
    box-shadow: -8px 0px 0px #ff6900;
    border-color: #4A4C4F;
    margin: 0 -18px 0 -10px;
    padding:0 20px 0 10px;
    width: 204px;
}

.selectableClickBox .clickBox.selected span{
    color: #fff !important;
}

.tdrightMenu.categories{
    background-color: #EAE9E5;
    padding: 0 0 0 0;
}
.tdrightMenu.categories .inputText{
    margin-left: 46px;
}
/* = TABS = */
.vse-tabs{

}

.vse-tabs > div{
    background-color: #fff;
    min-height: 500px;
    padding-bottom: 40px;
}

.vse-tabs-tabs{
    width: auto !important;
    padding-left: 46px;
}
.vse-tabs-tab{
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 38px;
    padding-top: 4px;
    width: 130px;
    margin-right: 2px;
    /*text-align: center;*/
    cursor: pointer;
}


.vse-tabs-tab.vse-tabs-selected{
    cursor: default;
    background-color: #fff;
}


.vse-tabs-tab span{
    padding: 0 2px 0 25px;
    font-size: 24px;
    text-align: center;
    font-family: "HelveticaNeue Bold",sans-serif;

}

.vse-tabs-tab span + span{
    padding: 0;
    line-height: 40px;
    font-size: 16px;
    font-family: "HelveticaNeue Light",Tahoma,sans-serif;

}

/* = Flexlist = */
.vse-tabs div.flexlist{
    border-top:1px solid #bbb;
    padding: 3px 46px;
}

.flexlisttitle{
    height: 40px;
    line-height: 40px;
    position: relative;
}

.flexlisttitle .currentParrent{
    font-weight: bold;
}

.flexlisttitle .currentParrent span{
    font-family: "HelveticaNeue Bold",Tahoma,sans-serif;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 60px;
    font-size: 14px;
    cursor: pointer;
}

.flexlisttitle .currentParrent span:before{
    content: '←';
    font-size: 16px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 6px;
}

.flexlisttitle .button{
    position: absolute;
    /*height: 30px;*/
    /*background-image: none !important;*/
    /*-o-animation: important;*/
    /*animation: important;*/
    /*box-shadow: none;*/
    /*background-color: #fff;*/
    top:5px;
    right: 46px;
    /*font-weight: normal;*/
    /*border: 1px solid #B5BCC5;*/
    /*border-radius: 3px;*/
    /*color: #000000;*/
}

.flexlist{
    height: 546px;
    overflow-y: scroll;
    font-size: 14px;
}
.flexlist > div{
    cursor: pointer;
    position: relative;
}
.flexlist div.catlistItem{
    height: 38px;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
    padding-left: 20px;
}

.flexlist i.icon{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 9px;
    background-image: url(/img/edit_del_next.png);
    display: none;
    cursor: pointer;
}

.flexlist i.next{
    right: 70px;
    background-position: 0px -63px;
}
.flexlist i.edit{
    right: 35px;
    background-position: 0px -3px;

}
.flexlist i.del{
    right: 10px;
    background-position: 0px -34px;

}

.flexlist .has_child i.next{
    display: block;
}

.flexlist > div:hover i.edit,
.flexlist > div:hover i.del{
    display: block;
}

.acc_edit_holder{
    background-color: #fefefe;
    border: 1px solid #888;
    padding: 10px;
    position: relative;
    cursor: default;
    top:-1px
}

.acc_edit_holder .acc_edit_row{
    height: 38px;
    line-height: 38px;
}

.acc_edit_row input[type="text"]{
    /*height: 33px;*/
    color: #888;
    width: 300px;
    width: 100%;
}

.acc_edit_holder select{
    width: 300px;
}

.acc_edit_holder .acc_edit_row label{
    display: inline-block;
    width: 100px;
    padding-left: 8px;
}
.acc_edit_holder .acc_edit_row label.long{
    min-width: 200px;
    width: auto;
}

.acc_edit_close{
    position: absolute;
    top:0px;
    right: 0px;
    z-index: 100;
}
.acc_edit_close i{
    display: block !important;
}

.treemenu{

}

/* accounts add*/
.accounts_main{

}

.accounts_block{
    min-height: 40px;
    width: 185px;
    float: left;
    margin-left: 35px;
}

.accounts_block.short{
    width: 105px;
}

.accounts_block_header{
    text-transform: uppercase;
    font-weight: bold;
    font-family: "HelveticaNeue Bold",Tahoma,Helvetica, serif;

    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.1rem;
    height: 23px;
    padding: 3px;
    color: #BBBBBB;
}

.accounts_block_item{
    /*float: left;*/
    display: inline-block;
    width: 80px;
    height: 100px;
    margin-right: 10px;
}

.accmanage i{
    display: block;
    height: 37px;
    width: 37px;
    border: 1px solid #67d2d1;
    margin: 10px 0;
    -webkit-box-shadow:inset 1px 1px 20px 1px #fdfdfd;
    box-shadow:inset 1px 1px 20px 1px #fdfdfd;
    background-image: url("/img/account_sprite.png");
    cursor: pointer;
}

.accmanage .big{
    background-image: none;
}
.accmanage .big i{
    background-image: url("/img/account_sprite_big.png");
    width: 58px;
    height: 58px;
}

.other{background-position: center -10px;}
.webmoney{     background-position: center -70px; }
.bank{     background-position: center -282px; }
.creditcard{     background-position: center -210px; }
.card{     background-position: center -140px; }
.friendcredit{     background-position: center -350px; }
.frienddeposit{     background-position: center -420px; }
.othercash{     background-position: center -490px; }
.cash{     background-position: center -560px; }

.big .other{background-position: 81px -903px;}
.big .webmoney{     background-position: 81px -805px; }
.big .bank{     background-position: 81px -603px; }
.big .creditcard{     background-position: 81px -503px; }
.big .card{     background-position: 81px -403px; }
.big .friendcredit{     background-position: 81px -205px; }
.big .frienddeposit{     background-position: 81px -305px; }
.big .othercash{     background-position: 81px -105px; }
.big .cash{     background-position: 81px -5px; }

.accounts_block_item i:hover{
    -webkit-box-shadow:inset 1px 1px 20px 1px #ddd;
    box-shadow:inset 1px 1px 20px 1px #ddd;
}

.accounts_block_item div{
    font-size: 10px;
    padding: 0 3px;
    cursor: pointer;
}

.help_text, .annotation{
    padding: 40px 20px;
    font-style: italic;
    font-size: 10px;
    color: #aaa;
}
/* accounts add*/

.form_row{
    min-height: 35px;
    vertical-align: top;
    margin-top: 15px;
}
.form_row_label{
    display: inline-block;
    width: 30%;
    text-align: right;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.acc_edit_holder .form_row_input{
    width: 50%;
}
.acc_edit_holder .form_row_label{
    width: auto;
    text-align: left;
}

.form_row_input{
    display: inline-block;
    width: 40%;
}

.form_row_input .help_text{
    padding: 10px 5px;
    height: auto;
}

.form_row_input label.block{
    display: block;
    margin-bottom: 10px;
}

.form_row_input input[type="text"],
.form_row_input input[type="email"],
.form_row_input input[type="password"]{
    width: 92%;
    padding: 0 4%;
}

.form_row_input .fake_select{
    cursor: pointer;
    display: inline-block;
    width: 93%;
    padding: 0 3%;
    border-radius: 3px;
    color: #777777;
    border: 1px solid #c2c2c2;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f8f8f8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
    height: 37px;
    line-height: 40px;
    vertical-align: top;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    font-family: "HelveticaNeue Bold",Tahoma,Helvetica, serif;
    position: relative;
}
.form_row_input.split_input .fake_select{
    width: 14%;
    border-radius: 0 3px 3px 0;
}

.td_fromaccount_input .fake_select:before,
.fake_tree_select:before{
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    right: 8px;
    top:50%;
    margin-top: -3px;
    border-top:6px solid #888;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.fake_select_body{
    position: absolute;
    max-height: 250px;
    overflow-y: auto;
    top:42px;
    border-radius: 3px;
    background-color: #FCFDFD;
    border: 1px solid #CAD5E0;
    box-shadow: 2px 2px 3px #dee9f4;
    z-index: 100;
}

.fake_select_body li{
    display: block;
    margin: 0;
    cursor: pointer;
    padding: 0px 8px;
    height: 28px;
    line-height: 30px;
}

.fake_tree_select_body li.selected,
.fake_select_body li.selected{
    background-color: #DAD9D4;
    font-weight: bold;
    font-family: "HelveticaNeue Bold",Tahoma,Helvetica, serif;
    color: #2A3E55 !important;
}

.fake_tree_select_body{
    position: absolute;
    top:42px;
    border-radius: 3px;
    background-color: #FCFDFD;
    border: 1px solid #CAD5E0;
    box-shadow: 2px 2px 3px #dee9f4;
    z-index: 100;
    padding-left: 10px;
}

.fake_tree_select_body li{
    display: block;
    margin: 0;
    cursor: pointer;
    padding: 0px 8px;
    line-height: 30px;
    position: relative;
}

.fake_tree_select_body li span{
    padding-left: 5px;
    display: block;
}

.fake_tree_select_body li.has_child:before{
    position: absolute;
    left: 3px;
    top:8px;
    content: '';
    width: 0px;
    height: 0px;
    border-top:4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #888;
}
.fake_tree_select_body li._open:before{
    left: 2px;
    margin-top: -1px;
    border-top:3px solid transparent;
    border-right: 3px solid #888;
    border-bottom: 3px solid #888;
    border-left: 3px solid transparent;
}

.fake_tree_select_body li ul{
    padding-left: 10px;
}

.form_row_input.split_input .fake_select:before{

}

.form_row_input.split_input input{
    width: 70%;
    display: inline-block;
    margin-right: -3px;
    vertical-align: top;
    border-radius: 3px 0 0 3px;
}

.form_row_label div{
    width: 60px;
    height: 60px;
    float: right;
    position: relative;
}

.form_row_label div i{
    box-shadow: none;
    margin: 0;
}

.big_margin{

    margin-top: 50px;
}

.buttons_bar{
 padding: 10px;
    text-align: right;
}

.fake_tableBox{
    letter-spacing: 0.04rem;
}

.fake_tableBox .t_thead{
    color: #938e85;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFf6f5f2,EndColorStr=#FFe6e5e2)!important;
    background: -moz-linear-gradient(top,#f6f5f2 0,#e6e5e2 100%);
    background: -ms-linear-gradient(top,#f6f5f2 0,#e6e5e2 100%)!important;
    background: -o-linear-gradient(top,#f6f5f2 0,#e6e5e2 100%);
    background: -webkit-linear-gradient(top,#f6f5f2 0,#e6e5e2 100%);
    background: linear-gradient(to bottom,#f6f5f2 0,#e6e5e2 100%)!important;
    font-weight: normal;
    font-size: 10px;
    border: 1px solid #dfdfdf;
}

.fake_tableBox .t_thead .td_2,
.fake_tableBox .t_thead .t_td{
    color: #938e85;
}

.t_row{
}

.t_td{
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 5px;
    line-height: 33px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.color_grey .t_td{
    color: #959595;
}

.td_1{
    width: 20px;
}

.td_2{
    width: 90px;
    color:#ccc;
}

.td_3{
    width: 130px;
}

.td_4{
    width: 160px;
}

.td_5{
    width: 60px;
    text-align: right;
}

.td_6{
    width: 70px;
}

.td_5_6{
    width: 130px;
}

.td_5_6 .tr_currency{
    position: absolute;
    left: 17px;
}

.td_5_6 span{
    font-weight: bold;
    font-family: "HelveticaNeue Bold",Tahoma,Helvetica, serif;
}
.td_5_6{
    color: #424C58;
}

.td_7{
    width: 170px;
    font-style: italic;
    color: #888;
    padding-right: 0px;
}

.td_7 .tr_comment,
.td_7 .tr_controls{
    display: inline-block;
    width: 25%;
    height: 30px;
    overflow: hidden;
}

.td_7 .tr_controls i{
    display: none;
    width: 20px;
    height: 20px;
    background-image: url(/img/edit_del_next.png);
    cursor: pointer;
    margin: 0px;
    position: absolute;
    top:3px;
    right: 3px;
}

.t_row:hover .td_7 .tr_controls i{
    display: block;
}


.td_7 .tr_controls i.edit{
    background-position: 0px -3px;
    right: 24px;

}
.td_7 .tr_controls i.del{
    background-position: 0px -34px;
}


.td_7 .tr_comment{
    width: 74%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.t_thead .td_7{
    font-style: normal;
}

.t_row{
    border: 1px solid transparent;
    height: 33px;
}

.tr_show_splits,
.t_row:not(.color_grey):not(.empty):not(.t_thead):not(.edit_row):hover {
    background-color: #ebe8dc !important;
}

.tr_show_splits .t_row{
    background-color: #F7F6F2 !important;
    border-top: 1px solid #ECE9E0 !important;
}

.tr_show_splits .t_row .td_2,
.tr_show_splits .t_row .td_3{
    visibility: hidden;
}

.tr_show_splits{
    height: auto !important;
}

.t_row.t_thead,
.t_row.t_thead .t_td{
    height: 24px;
    line-height: 24px;
}

.t_td .check{
    top:50%;
    margin-top: -7px;
}

.t_row:nth-child(odd) {
    background: #f6f6f5;
    border-top: 1px solid #f6f6f5;
}

.t_row.deleted_row,
.t_row.deleted_row:hover{
    background-image: none !important;
    background: #EFF9F9 !important;
    text-align: right;
    /*border-top: 1px solid #55eeff;*/
}
.deleted_row span{
    font-size: 11px;
    line-height: 33px;
    padding-right: 10px;
    color: #33CCDD;
    cursor: pointer;
}

.t_row.tr_newday {
    border-top: 1px solid #DFDFDF;
}

.tr_newday .td_2{
    color: #888;
}

.t_row.color_grey{
    background: none repeat scroll 0 0 #F6F6F5;
}

.row_edit_form{
    background: #555c62; /* Old browsers */
    background: -moz-linear-gradient(top,  #555c62 0%, #2c2f32 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555c62), color-stop(100%,#2c2f32)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #555c62 0%,#2c2f32 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #555c62 0%,#2c2f32 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #555c62 0%,#2c2f32 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #555c62 0%,#2c2f32 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555c62', endColorstr='#2c2f32',GradientType=0 ); /* IE6-9 */
    z-index: 100;
    height: 33px;
    border: 1px solid #303030;

}

.t_row_edit{
    background-color: #EDEADD;
}
.row_edit_form_additional{

}

.row_edit_form_additional textarea{
    height: 60px;
    width: 517px;
    margin: 10px 30px;
    border-radius: 2px;
    resize: none;
    border: 1px solid #EDEADD;
    padding: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #888;
}

.row_edit_form > div{
    display: inline-block;
    margin: 4px 3px;
}

.row_edit_form .td_date_input .dateInput{
    line-height: 27px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

.row_edit_form .td_date_input{
    background-color: #fff;
    width: 80px;
    height: 25px;
    border-radius: 2px;
    margin-left: 25px;
}
.fake_tree_select{
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.row_edit_form .fake_tree_select,
.row_edit_form .td_fromaccount_input .fake_select{
    line-height: 25px;
    height: 25px;
    padding: 0 10px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row_edit_form .td_fromaccount_input{
    width: 135px;
    border-radius: 2px;
    background-color: #fff;
    height: 25px;
}

.row_edit_form .acc_button{
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #393939;
    min-width: 31px;
    height: 25px;
    margin: -1px 0;

    line-height: 27px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    text-shadow: #555 1px 1px 0px;

    -moz-box-shadow:inset 1px 1px 1px #ccc;
    box-shadow:inset 0px 1px 0px #aaa;

    background: #828e97; /* Old browsers */
    background: -moz-linear-gradient(top,  #828e97 0%, #5b6168 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#828e97), color-stop(100%,#5b6168)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #828e97 0%,#5b6168 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #828e97 0%,#5b6168 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #828e97 0%,#5b6168 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #828e97 0%,#5b6168 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828e97', endColorstr='#5b6168',GradientType=0 ); /* IE6-9 */
}

.row_edit_form .acc_button .fake_select,
.row_edit_form .acc_button > span{
    font-weight: bold;
    font-family: "HelveticaNeue Bold",Tahoma,Helvetica, serif;
}

.row_edit_form .split_input .acc_button{
    border-radius: 2px 0 0 2px;
}

.row_edit_form .acc_select{
    border-radius: 0 2px 2px 0;
    background-color: #fefefe;
    height: 25px;
    width: 135px;
    display: inline-block;
}

.acc_button:active,
.acc_button.pushed{
    box-shadow: inset 1px 0px 2px #777;

    background: #5b6168; /* Old browsers */
    background: -moz-linear-gradient(top,  #5b6168 0%, #828e97 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b6168), color-stop(100%,#828e97)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5b6168 0%,#828e97 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5b6168 0%,#828e97 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5b6168 0%,#828e97 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5b6168 0%,#828e97 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b6168', endColorstr='#828e97',GradientType=0 ); /* IE6-9 */
}

.acc_button span{
    padding: 0 22px;
    display: block;
}
.split_input.acc_ammount span,
.split_input.acc_ammount > div{
    padding: 0 4px;
}

.row_edit_form input[type="text"]{
    box-shadow: none;
    width: 80px;
    padding: 0;
    margin: 0;
}

.row_edit_form .split_input input[type="text"]{
    border-radius: 0 2px 2px 0;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    padding: 0 5px;
    font-size: 11px;
    color: #424C58;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.acc_button i{
    background-image: url("/img/transaction_form.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    width: 26px;
    height: 24px;
}

.acc_button i.comment_i{
    background-position: -1px -199px;
}
.acc_button i.split_i{
    background-position: -1px -250px;
}
.acc_button i.ffriend_i{
    background-position: -1px -99px;
}
.acc_button i.tofriend_i{
    background-position: -1px -149px;
}
.acc_button i.add_i{
    background-position: -1px 0px;
}
.acc_button i.substr_i{
    background-position: -1px -11px;
    height: 3px;
    margin-top: 11px;
}
.acc_button i.move_i{
    background-position: -1px -50px;
}

.acc_close_button{
    width: 20px;
    height: 24px;
    left: 3px;
    top:1px;
    display: inline-block;
    cursor: pointer;
}

.acc_close_button i.close_i{
    background-image: url("/img/glyphicons-halflings-white.png");
    width: 16px;
    height: 16px;
    background-position:  160px 0px;
    display: block;
    margin-top: 3px;
}



.acc_button + .acc_button{
    margin-left: 6px;
}

.acc_category .fake_select{
    width: 25px;
    position: absolute;
    z-index: 100;
    top:2px;
    left:2px;
    color: transparent;
    text-shadow: none;
    /*background-color: rgba(0,0,0,0.2);*/
}

.fake_tree_select_body li,
.row_edit_form .fake_select_body li{
    color: #7D8992;
    text-shadow: none;
    white-space: nowrap;
    height: 30px;
    line-height: 31px;
}

.fake_tree_select_body li{
    height: auto;
    line-height: 25px;
}


.row_edit_form .fake_select_body li i{
    display: inline-block;
    background-image: url("/img/transactions_dropdown.png");
    margin-right: 3px;
}

.row_edit_form .fake_select_body li i.substr_i{
    background-position: -2px 0;
    margin: 0;
    height: 24px;
}
.row_edit_form .fake_select_body li i.add_i{
    background-position: -2px -29px;
}
.row_edit_form .fake_select_body li i.move_i{
    background-position: -2px -55px;
}
.row_edit_form .fake_select_body li i.ffriend_i{
    background-position: -2px -110px;
}
.row_edit_form .fake_select_body li i.tofriend_i{
    background-position: -2px -83px;
}

.row_edit_form .fake_select_body li.selected{
    color: #272E41;
}
.row_edit_form .fake_select_body li.selected i.substr_i{
    background-position: -26px 0;
}
.row_edit_form .fake_select_body li.selected i.add_i{
    background-position: -26px -29px;
}
.row_edit_form .fake_select_body li.selected i.move_i{
    background-position: -26px -55px;
}
.row_edit_form .fake_select_body li.selected i.ffriend_i{
    background-position: -26px -110px;
}
.row_edit_form .fake_select_body li.selected i.tofriend_i{
    background-position: -26px -83px;
}

.tablecell{
    display: inline-block;
    position: relative;
}
.span10{
    width: 80%;
    min-width: 200px;
}
.span2{
    width: 16%;
    min-width: 50px;
    left: 5px;
}

/* TODO BOLD use bold font*/

.split_transactions_body{
    padding-left: 265px;
    padding-top: 10px;
}

.split_transactions_footer{
    height: 20px;
}

.split_transactions{
    margin-top: -6px;
}
.split_transactions .fake_tree_select{
    display: block;
    height: 27px;
    width: 105px;
    background-color: #ffffff;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    line-height: 27px;
    padding: 0 20px 0 10px;
}

.transaction_line{
    display: inline-block;
    height: 37px;
    width: 16px;
    border: 2px solid #fff;
    border-width: 0 0 2px 2px;
    top: -18px;
    right: -4px;
}

.split_transactions .transaction_to{
    display: inline-block;
    min-width: 50px;
}
.split_transactions .transaction_amount{
    display: inline-block;
    margin-left: 4px;
}
.split_transactions .transaction_amount input{
    box-shadow: none;
    height: 27px;
    width: 109px;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    padding: 0 5px;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
}

.is-wrong .transaction_amount input{
    color: #ff0000;
    border-color: #ff0000;
}

.is-wrong .transaction_amount{
    padding-right: 33px;
    background-image: url('/images/alert.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.transaction_remove{
    display: inline-block;
    padding:  1px 0 0 4px;
}

.transaction_remove span{
    display: inline-block;
    background-image: url("/img/edit_del_next.png");
    background-position: 0 -34px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.categories_tab{
    background-image: url('../img/sit_norm.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 20px;
}

.categories_tab.selected{
    background-image: url('../img/sit_activ.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.delete_acc{
    width: 100px;
    margin-top: 10px;
    border-top: 1px solid #a1a1a1;
}

.delete_acc_button{
    background-image: url('../img/acc_del.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin-top: 10px;
}

.in_out_summ{
    margin: -30px 0 20px;
    overflow: hidden;
    padding-left: 30px;
}

.in_out_summ_holder{
    float: left;
    width: 170px;
}

.in_out_summ_holder div span{
    font-size: 20px;
    font-weight: bold;
    font-family: "HelveticaNeue Bold",Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    display: inline-block;
    vertical-align: baseline;
}
.in_out_summ_holder div span.currency{
    font-size: 12px;
}

.in_out_summ_holder .vse_title{
    padding: 5px 0;
    color: #CCCCCC;
}

.in_total{
    color: #819625;
}

.out_total{
    color: #424C58;
}