p {
    line-height: 20px;
}

#app_body,
#app_body p {
    font-family: Verdana, Helvetica, "san-serif";
}

#app_body a.form_link {
    font-family: "HelveticaNeue", sans-serif;
    /*font-weight: bold;*/
}

.clear{
    float: none;
    clear: both;
}

.clickBox,
.clickBox span,
.walletBox,
.walletBox span,
.tableBox,
.tableBox td,
.bottomText,
.notice,
.notice div,
.notice span,
.categoryText,
ul li span,
.baseTable thead tr th,
.passiveTop span,
.activeTop span,
.orangeResult,
.greenResult,
.largeText,
.largeComment,
.totalMenu,
.bigText,
.bigComment,
#app_body a.form_link {
    letter-spacing: 0.07rem;
}

td.incoming_tr {
    color: #819625;
}

td.transport_tr {
    color: #187585;
}

.split {
    position: relative;
    width: 22px;
    height: 17px;
    top: 6px;
    margin: 0 0 0 8px;
    vertical-align: middle;
    background-image: url("../images/split.png");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    float: right;
}

.horisontal_line {
    height: 1px;
    background-color: #cbd5dd;
}

.pagingBox {
    float: right;
    margin: 25px 20px 0px;
    font-family: Arial;
    height: 22px;
}

.paging {
    float: left;
    margin-left: 3px;
}

.imgnone {
    width: 26px;
    line-height: 19px;
    height: 19px;
    text-align: center;
    color: #252525;
}

.imgcolor {
    width: 26px;
    line-height: 19px;
    height: 19px;
    background-color: #f0f4f4;
    box-shadow: 0 0 1px #f0f4f4;
    border-radius: 2px;
    text-align: center;
    color: #187585;
}

.imgfirst {
    background-image: url("../images/imgfirst.png");
    width: 22px;
    height: 19px;
}

.imgprev {
    background-image: url("../images/imgprev.png");
    width: 22px;
    height: 19px;
}

.imgnext {
    background-image: url("../images/imgnext.png");
    width: 22px;
    height: 19px;
}

.imglast {
    background-image: url("../images/imglast.png");
    width: 22px;
    height: 19px;
}

.additional_pagin_box {
    width: 110px;
    height: 19px;
    position: relative;
    float: left;
    margin-left: 3px;
}

.pagingBox input[type='text'] {
    width: 30px;
    height: 19px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #d6e2e2;
    box-shadow: none;
    font-size: 12px;
    color: #252525;
    vertical-align: middle;
    padding: 0;
    float: left;
}

.pagingcount {
    width: 30px;
    line-height: 19px;
    height: 19px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #d6e2e2;
    float: left;
}

.pagingtext {
    line-height: 19px;
    height: 19px;
    width: 20px;
    text-align: center;
    float: left;
}

.pagingsubmit {
    background-image: url("../images/imgsubmit.png");
    width: 22px;
    height: 22px;
    text-align: center;
    float: left;
    margin-left: 4px;
    top: -1px;
}

.checkbox {
    width: 12px;
    height: 12px;
    background-color: #FFFFFF;
    border: 1px solid #B5BCC5;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px #B5BCC5;
    /*margin: auto;*/
    top: 1px;
}

.baseTable thead tr th {
    font-weight: normal;
    padding: 6px;
}

.clickBox span,
.walletBox span,
.notice .noticeTitle,
.HelveticaNeueBold,
.emptyBox .categoryText,
.totalBox .largeText,
.bottomBox > span,
.tbody4 {
    font-family: "HelveticaNeue Bold", sans-serif;
}

.titleBox span {
    line-height: 24px;
}

.modalHolder {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0px;
    left: 0px;
    z-index: 10001;
}

.modalWindow {
    width: 400px;
    margin-left: -200px;
    /*height: 250px;*/
    margin-top: -120px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fcfcfc;
    border: 1px solid #b2e3e7;
    border-radius: 10px;
}

.modalMessage {
    padding: 30px;
    font-size: 20px;
    color: #222;
}

.modalButtons {
    text-align: center;
    padding: 40px 25px 25px;
}

.modalButtons input {
    margin: 0px 20px;
    color: #555;
    /*FAFF00 FFC00A*/
    background-image: -moz-linear-gradient(top, #FAFF00 0, #FFC00A 100%);
    background-image: -ms-linear-gradient(top, #FAFF00 0, #FFC00A 100%) !important;
    background-image: -o-linear-gradient(top, #FAFF00 0, #FFC00A 100%);
    background-image: -webkit-linear-gradient(top, #FAFF00 0, #FFC00A 100%);
    background-image: linear-gradient(to bottom, #FAFF00 0, #FFC00A 100%) !important;
    background-color: #fa9f00;
    border-top: 1px solid #faaf00;
    border-bottom: 1px solid #ec9f00;
    border-left: 1px solid #faaf00;
    border-right: 1px solid #faaf00;
}

@-moz-document url-prefix() {
    .modalButtons input {
        padding-top: 3px;
    }
}

.modalButtons input.cancel {
    margin: 0 10px;
    background-image: -moz-linear-gradient(top, #f9f9f9 0, #e1e1e1 100%);
    background-image: -ms-linear-gradient(top, #f9f9f9 0, #e1e1e1 100%) !important;
    background-image: -o-linear-gradient(top, #f9f9f9 0, #e1e1e1 100%);
    background-image: -webkit-linear-gradient(top, #f9f9f9 0, #e1e1e1 100%);
    background-image: linear-gradient(to bottom, #f9f9f9 0, #e1e1e1 100%) !important;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #d0d0d0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.floatHeader{
    float: left;
}

.tableFilters{
    margin-top: 16px;
    float: right;
    height: 26px;
    min-width: 50px;
}
.tableFilters .filterItem{
    margin-left:10px;
    float: left;
    position: relative;
}

.filterItemConfig{
    width: 8px;
    height: 24px;
    position: relative;
    cursor: pointer;
}

.filterItemConfig:after{
    content: '';
    position: absolute;
    border-top: 6px solid #aaa;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    width: 0;
    height: 0;
    top:40%;
    left:1px;
}

.itemDropDown{
    position: absolute;
    z-index: 10001;
    width: 100px;
    border-radius: 5px;
    border:1px solid #aaa;
    background-color: #fff;
    box-shadow: 3px 3px 9px #B5BCC5;
    padding: 10px;
    right: -10px;
    top:24px;
}

.rangePicker{
    cursor: pointer;
    float: left;
    margin-left: 5px;
    height: 24px;
    min-width: 30px;
    line-height: 25px;
    background-color: #FFFFFF;
    color: #aaa;
    text-align: center;
    border: 1px solid transparent;
}

.rangePicker:hover {
    color:#000;
}
.rangePicker.checked {
    border-color:  #B5BCC5;
    border-radius: 2px;
    color: #000;
}