html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  vertical-align: middle;
  font-family: "HelveticaNeue Light", sans-serif;
}
a {
  color: #3782d3;
}
.box_sizing_border_box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.button {
  display: inline-block;
  height: 50px;
  padding: 0 40px;
  line-height: 52px;
  font-family: "HelveticaNeue";
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.orange_button {
  color: #ffffff;
  background-color: #ff4300;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
input[type=text],
textarea {
  outline: none;
}
.hidden {
  display: none;
}
.bold,
b {
  font-family: "HelveticaNeue Bold", sans-serif;
  font-weight: bold;
}
.clear {
  clear: both;
  float: none;
}
.chertochka {
  display: inline-block;
  width: 2px !important;
  height: 16px !important;
  background: url('../images/chertochka.png') no-repeat center;
  vertical-align: center;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #858e93;
  cursor: default;
  font-family: "PFDinDisplayPro Black", sans-serif;
  font-size: 12px;
  /*letter-spacing: 0.7px;*/
}
.wrap {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: static;
}
header {
  height: 94px;
  /*background-color: #f9fcfc;*/
  position: relative;
  opacity: 0;
  transition: opacity 0.1s;
}
header.not-authorized {
  opacity: 1;
}
header .logo-slogan {
  position: absolute;
  width: 218px;
  height: 100%;
  vertical-align: top;
}
header .logo-slogan:before {
  content: '';
  background: url("../img/logo-slogan-transparent.png") no-repeat 0 0;
  width: 624px;
  height: 100%;
  position: absolute;
  left: -198px;
}
header.logo-slogan a {
  display: block;
  width: 100%;
  height: 100%;
  min-width: 200px;
  min-height: 80px;
  text-decoration: none;
}
header .menu-login-register {
  vertical-align: top;
  min-height: 30px;
  display: inline-block;
  width: 100%;
  padding-left: 218px;
  box-sizing: border-box;
  text-align: right;
  white-space: nowrap;
}
header .menu-login-register .navigation {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: bottom;
  line-height: 34px;
  position: relative;
  z-index: 1000;
}
header .menu-login-register .navigation ul li {
  list-style: none;
  cursor: pointer;
}
header .menu-login-register .navigation a,
header .menu-login-register .navigation span {
  font-family: "HelveticaNeue", sans-serif;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin: 0 18px 0 16px;
  color: #8b9296;
  text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2);
}
header .menu-login-register .navigation > ul > li {
  display: inline-block;
  position: relative;
}
header .menu-login-register .navigation li ul li {
  display: none;
  list-style: none;
}
header .menu-login-register .navigation li ul {
  display: none;
  position: absolute;
  background-color: #ffffff;
  top: 25px;
  left: -3px;
  -moz-box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
  box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
  z-index: 2000;
  text-align: left;
}
header .menu-login-register .navigation li:hover ul {
  display: block;
  width: 130px;
  margin-top: 8px;
}
header .menu-login-register .navigation li:hover ul li {
  display: block;
  font-family: "HelveticaNeue Bold", sans-serif;
  font-weight: bold;
}
header .menu-login-register .navigation ul li ul li:hover a {
  color: #424c58;
}
header .menu-login-register .navigation ul li ul li:hover {
  background-color: #DAD9D4;
  color: #424c58;
  font-family: "HelveticaNeue Bold", sans-serif;
}
header .menu-login-register .navigation ul li ul li a {
  line-height: 34px;
  font-size: 11px;
  text-shadow: none;
}
header .menu-login-register .navigation ul li ul li {
  display: block;
  float: none;
  height: 30px;
  line-height: 30px;
}
header .menu-login-register .navigation ul li.active a,
header .menu-login-register .navigation ul li a:hover {
  color: #44bbcc;
  background: 0;
  box-shadow: none;
}
header .menu-login-register .social-links {
  display: inline-block;
  margin: 0 26px 0 7px;
  vertical-align: bottom;
}
header .menu-login-register .social-links .minisocials {
  height: 30px;
  width: 66px;
}
header .menu-login-register .social-links .minisocials li {
  display: block;
  float: left;
}
header .menu-login-register .social-links .minisocials a {
  display: block;
  width: 22px;
  height: 22px;
  float: left;
  padding: 0;
  background-repeat: no-repeat;
  background-image: url(../img/social.png);
}
header .menu-login-register .social-links .minisocials .fb {
  background-position: 5px -36px;
}
header .menu-login-register .social-links .minisocials .fb:hover {
  background-position: 5px -35px;
}
header .menu-login-register .social-links .minisocials .twitter {
  background-position: 5px 5px;
}
header .menu-login-register .social-links .minisocials .twitter:hover {
  background-position: 5px 6px;
}
header .menu-login-register .social-links .minisocials .vk {
  background-position: 5px -15px;
}
header .menu-login-register .social-links .minisocials .vk:hover {
  background-position: 5px -14px;
}
.signin-login-button {
  display: inline-block;
  background-color: #ff4300;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  -webkit-box-shadow: 2px 0px 1px 1px rgba(255,67,0,0.9);
  -moz-box-shadow: 2px 0px 1px 1px rgba(255,67,0,0.9);
  box-shadow: 2px 0px 1px 1px rgba(255,67,0,0.9);
  height: 70px;
  padding: 48px 0 0 55px;
}
.signin-login-button, .signin-login-button > a {
  font-family: "HelveticaNeue Light", Tahoma;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0px 0px 1px #FFFFFF;
}
.signin-login-button:before {
  content: '';
  background: url("../img/may/house_b_s.png") no-repeat;
  width: 20px;
  height: 25px;
  position: absolute;
  left: 25px;
  bottom: 7px;
}

header .menu-login-register .signin-login-button {
  width: 195px;
}
.slider-presentation {
  position: relative;
  overflow: hidden;
}
.slider-presentation  .slide {
  opacity: 0;
  -webkit-transition:opacity 1.5s;
   -moz-transition:opacity 1.5s;
     -o-transition:opacity 1.5s;
        transition:opacity 1.5s;
}
.slider-presentation.slide-1 .slide-1 {
  display: block;
  opacity: 1;
}
.slider-presentation.slide-2 .slide-2 {
  display: block;
  opacity: 1;
}
.slider-presentation .background-one,
.slider-presentation .background-two {
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
  height: 900px;
  background-image: url("../img/may/fon-1_1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  background-size: cover;
}
.slider-presentation .background-two {
  background-image: url("../img/may/fon2.jpg");
}
.slider-presentation .image-one,
.slider-presentation .image-two {
  position: absolute;
  z-index: 100;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/may/imac_big.png");
  height: 721px;
  width: 789px;
  top: 125px;
  left: 120px;
}
.slider-presentation .image-two {
  background-image: url("../img/may/iphone_5s.png");
  height: 708px;
  width: 355px;
  top: 235px;
  left: 0px;
}
.slider-presentation .wrap {
  position: relative;
  height: 900px;
}
.slider-presentation .bottle {
  z-index: 200;
  height: 155px;
  width: 155px;
  position: absolute;
  right: -4px;
  top: 129px;
}
.slider-presentation .bottle a {
  display: block;
  width: 155px;
  height: 155px;
  background-position: top right;
  background-image: url('../img/may/botle.png');
  background-repeat: no-repeat;
}
.slider-presentation .app {
  z-index: 200;
  position: absolute;
  width: 152px;
  height: 55px;
  right: -3px;
  top: 56px;
  background: #46c23b;
}
.slider-presentation .app:hover {
  background: #46d339;
}
.slider-presentation .app a {
  font-family: "HelveticaNeue Light", Tahoma;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 10px 0 0 48px;
  box-sizing: border-box;
  line-height: 1.2em;
}
.slider-presentation .app a:before {
  content: '';
  position: absolute;
  width: 23px;
  height: 38px;
  top: 8px;
  left: 15px;
  background: url("../img/iphone-icon.png") no-repeat;
}
.slider-presentation .app a:hover {
  background-position: 0 -55px;
}
.slider-presentation .cloud {
  position: absolute;
  right: -5px;
  padding: 56px 76px;
  top: 420px;
  height: 410px;
  width: 570px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  z-index: 200;
}
.slider-presentation .cloud h1 {
  font-family: "helvetica neue", Tahoma;
  font-weight: normal;
  font-size: 25px;
  color: #363636;
}
.slider-presentation .cloud p {
  font-family: "HelveticaNeue Light", Tahoma;
  font-size: 14px;
  line-height: 1.3em;
  margin: 18px 0;
}
.slider-presentation .cloud i {
  color: #989898;
  font: italic 12px "Georgia", sans-serif;
  margin: 0 30px;
}
.slider-presentation .cloud .buttons {
  position: absolute;
  bottom: 58px;
}
.slider-presentation .cloud a {
  font-size: 17px;
  text-decoration: none;
  text-transform: none;
  font-family: "HelveticaNeue Thin", Tahoma;
  letter-spacing: 0.01em;
}
.slider-presentation .cloud a.button {
  padding: 0 43px;
  height: 53px;
  line-height: 57px;

}
.iphone-or-web {
  color: #343434;
  height: 100px;
  line-height: 90px;
  text-align: center;
  font-size: 30px;
}
.iphone-or-web span {
  padding: 0 156px;
}
.main-info {
  padding: 46px 0 101px;
}
.main-info ul {
  margin: 0;
}
.main-info li {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  width: 33%;
  vertical-align: top;
  position: relative;
  height: 278px;
}
.main-info li:first-child {
  padding-left: 0;
}
.main-info li:last-child {
  padding-right: 0;
}
.main-info h3 {
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #444b55;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  padding: 0 0 26px 0;
  white-space: nowrap;
  font-family: "HelveticaNeue Bold", sans-serif;
  font-size: 22px;
  line-height: 1.3;
}
.main-info p {
  color: #424c58;
  letter-spacing: 0.7px;
  padding: 0 0 32px 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  font-family: "HelveticaNeue Light", sans-serif;
  font-size: 16px;
  line-height: 1.9;
}
.main-info .more {
  display: block;
  width: 107px;
  height: 34px;
  color: #809933;
  border: 1px solid #d5d0cc;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 1px rgba(169, 170, 172, 0.2);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 38px;
  font-family: "HelveticaNeue Light", sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}
.main-info .more:hover {
  color: #668033;
  border: 1px solid rgba(169, 170, 172, 0.25);
  box-shadow: inset 0px 1px 4px 1px rgba(169, 170, 172, 0.2);
}
.presentation-section .description {
  margin: 52px auto 20px;
  text-align: center;
}
.presentation-section h1 {
  font: 33px/1.5 "HelveticaNeue Light", sans-serif;
  font-weight: 400;
  color: #fe6000;
  letter-spacing: 0.012em;
  opacity: 1;
  /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);*/
  z-index: 300;
  text-align: center;
}
.presentation-section h2 {
  color: #b6c1c6;
  font-family: Georgia, sans-serif;
  font-size: 13px;
  line-height: 1;
  padding: 13px 0 0 12px;
  display: inline-block;
  letter-spacing: 0;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}
.four-steps-action {
  background-color: #FBFAF8;
  padding: 60px 0 98px;
}
.four-steps-action .steps-container {
  width: 809px;
  margin: 0 auto;
}
.four-steps-action .step {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 17px 0;
}
.four-steps-action .step:after {
  content: '';
  display: table;
  clear: both;
}
.four-steps-action .step > div {
  box-sizing: border-box;
  position: relative;
}
.four-steps-action .step:nth-child(odd) > div {
  float: left;
}
.four-steps-action .step:nth-child(even) > div {
  float: right;
}
.four-steps-action .step-description {
  padding: 17px 35px 10px 87px;
  width: 440px;
}
.four-steps-action .step-pic {
  width: 345px;
  text-align: center;
}
.four-steps-action .step-pic a {
  position: absolute;
  width: 29px;
  height: 29px;
  right: 22px;
  bottom: 8px;
  background: url(../img/may/play-button.png) no-repeat;
}
.four-steps-action h3 {
  letter-spacing: 0;
  color: #424c58;
  white-space: nowrap;
  font-family: "HelveticaNeue Light", sans-serif;
  font-size: 33px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 14px;
}
.four-steps-action .step-index {
  position: absolute;
  left: 30px;
}
.four-steps-action p {
  color: #424c58;
  letter-spacing: 0.7px;
  font-family: "HelveticaNeue Light", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}
.progress-diagram {
  padding: 24px 0 101px;
}
.progress-diagram .wrap {
  text-align: center;
}
.progress-diagram .description h1 {
  font-size: 31px;
  letter-spacing: 0.008em;
  padding-right: 10px;
}
.progress-diagram .description h2 {
  padding: 2px 6px 0 0;
  color: #707070;
  letter-spacing: 0.02em;
}
.progress-diagram .diagram-img {
  padding: 10px 0 0 18px;
}
.testimonials {
  padding: 105px 0 127px;
  background-color: #FBFAF8;
}
.testimonials .wrap {
  width: 840px;
  overflow: hidden;
}
.testimonials .testimonials_header {
  position: relative;
}
.testimonials .testimonials_header h1 {
  font-size: 30px;
  letter-spacing: 0.025em;
}
.testimonials .testimonials_header .testimonials_navigation {
  position: absolute;
  right: 32px;
  top: 7px;
}
.testimonials .testimonials_navigation > div {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  background-image: url("/img/payment/payments_sprite.png");
  background-repeat: no-repeat;
  margin-left: 3px;
  cursor: pointer;
}
.testimonials .testimonials_navigation .nav_prev {
  background-position: -80px -3px;
}
.testimonials .testimonials_navigation .nav_next {
  background-position: -120px -3px;
}
.testimonials .testimonials_holder {
  height: 250px;
  margin-top: 13px;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  width: auto;
  left: 0;
}
.testimonials .testimonials_holder .testimonials_body {
  display: inline-block;
  width: 257px;
  margin-left: 2%;
  white-space: normal;
}
.testimonials .testimonials_holder .testimonials_user {
  padding: 15px 0 20px 50px;
  font-size: 11px;
}
.testimonials .testimonials_holder .testimonials_user_message {
  width: 100%;
  height: 196px;
  background-color: #eaeef2;
  font-size: 12px;
  line-height: 18px;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.testimonials .testimonials_holder .testimonials_user_message:before {
  content: "";
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  top: -14px;
  left: 25px;
  border-style: solid;
  border-width: 0 0 15px 18px;
  border-color: transparent transparent #eaeef2 transparent;
}
.testimonials .testimonials_holder .testimonials_body.even .testimonials_user_message {
  background-color: #fefdfa;
}
.testimonials .testimonials_holder .testimonials_body.even .testimonials_user_message:before {
  border-color: transparent transparent #fefdfa transparent;
}
.videobox {
  padding: 60px 0;
}
.videobox .wrap {
  width: 960px;
  text-align: center;
  font-size: 0px;
  line-height: 0px;
}
.videobox .description {
  margin: 65px 0 54px;
}
.videobox .video {
  display: inline-block;
}
.videobox #intro_iphone .videobox,
.videobox #intro_iphone .videobox .description,
.videobox #intro_web .videobox,
.videobox #intro_web .description {
  width: 100%;
}
.videobox .smallvideo {
  width: 230px;
  display: inline-block;
  color: #ff6900;
  letter-spacing: 0.5px;
  font: 15px/3.5 "HelveticaNeue Light", sans-serif;
  white-space: nowrap;
  vertical-align: top;
}
.login-section {
  margin: 67px 0 130px;
}
.login-section .wrap {
  width: 960px;
  text-align: center;
}
.login-section .signin-login-button {
  height: 62px;
  width: 396px;
  padding: 28px;
  text-align: center;
}
.login-section .signin-login-button:before {
  bottom: 19px;
  left: 94px;
}
.login-section .signin-login-button, .login-section .signin-login-button > a {
  font-size: 16px;
}
.footer {
  background: url('../images/f_bg.png');
  height: 254px;
  padding: 0;
}
.footer .in {
  position: relative;
  width: 996px;
  height: 178px;
  margin: 0 auto;
  padding: 38px 0;
}
.footer li {
  list-style: none;
}
.footer .bottomlogo {
  position: absolute;
  width: 162px;
  height: 54px;
  background: url('../i/bottomlogo.png') 0 0 no-repeat;
  top: 80px;
  left: 0px;
  display: none;
}
.footer .logo a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.footer .navi {
  position: absolute;
  top: 105px;
  left: 120px;
}
.footer .navi li {
  display: inline-block;
  padding: 0 29px 0 0;
}
.footer .navi a {
  color: #dddbd4;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 300ms ease-in-out;
  font-family: "HelveticaNeue", sans-serif;
  font-size: 17px;
  line-height: 1;
}
.footer .navi a:hover {
  color: #889094;
}
.footer .copy {
  position: absolute;
  top: 153px;
  left: 346px;
  color: #585b5e;
  letter-spacing: 0;
  font-family: "PFDinDisplayPro Bold", sans-serif;
  font-size: 14px;
  line-height: 1;
}
.footer .socials {
  position: absolute;
  top: 78px;
  right: 122px;
}
.footer .socials li {
  display: block;
  float: left;
}
.footer .socials a {
  display: block;
  width: 61px;
  height: 61px;
  float: left;
  background: url(../i/img_10.png);
}
.footer .socials .fb {
  background-position: 0 0;
}
.footer .socials .fb:hover {
  background-position: 0 -61px;
}
.footer .socials .twitter {
  background-position: -61px 0;
}
.footer .socials .twitter:hover {
  background-position: -61px -61px;
}
.footer .socials .vk {
  background-position: -122px 0;
}
.footer .socials .vk:hover {
  background-position: -122px -61px;
}
