html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    vertical-align: middle;
    font-family: "HelveticaNeue Light", sans-serif;
}

html{
    /*background-image: url('/i/b_bg.png');*/
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

input[type=text], textarea {
    outline: none;
}

.hidden{
    display: none;
}

.bold,b{
    font-family: "HelveticaNeue Bold", sans-serif;
    font-weight:bold;
}

div, header, footer {
    position: relative;
}

ul, li {
    text-align: left;
}

a {
    color: #33ccdd;
}

html {
    width: 100%;
    height: 100%;
    min-height: 600px;
    background-color: #fff;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #858e93;
    cursor: default;
    font-family: "PFDinDisplayPro Black", sans-serif;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.7px;
    background-image: url("../i/bg_b.png");

}


.top {
    height: 360px;
    /*background: rgb(236, 246, 248);*/
    /*background: -moz-linear-gradient(top, rgba(236, 246, 248, 1) 0%, rgba(255, 255, 255, 1) 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(236, 246, 248, 1)), color-stop(100%, rgba(255, 255, 255, 1)));*/
    /*background: -webkit-linear-gradient(top, rgba(236, 246, 248, 1) 0%, rgba(255, 255, 255, 1) 100%);*/
    /*background: -o-linear-gradient(top, rgba(236, 246, 248, 1) 0%, rgba(255, 255, 255, 1) 100%);*/
    /*background: -ms-linear-gradient(top, rgba(236, 246, 248, 1) 0%, rgba(255, 255, 255, 1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(236, 246, 248, 1) 0%, rgba(255, 255, 255, 1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaf5f7', endColorstr='#ffffff', GradientType=0);*/
}

.wrap {
    width: 100%;
    margin-top: -360px;
    min-height: 100%;
    margin: 0 auto;

}

header {
    height: 71px;
    width: 996px;
    position: relative;
    margin-top: -360px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

header .logo,
header .logo-slogan{
    position: absolute;
    width: 748px;
    height: 237px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    top: 0;
    left: -200px;

    background-position: 80px -20px;
}

header .logo-slogan {
    background-image: url('../img/logo-slogan.png');
}

header .logo a {
    position: absolute;
    width: 220px;
    height: 50px;
    top: 12px;
    left: 230px;
}

header .logo-slogan a {
    position: absolute;
    width: 220px;
    height: 70px;
    top: 12px;
    left: 230px;
}

.loginbtn,
.loginbtn:hover {
    position: absolute;
    width: 199px;
    height: 48px;
    top: 14px;
    right: 0px;
    /*background: url('../i/loginbtn.png') 0 0 no-repeat;*/
    /*background: url('../img/yellow.png') 0 0 no-repeat;*/
    background: url('../img/intro/reg_login.png') 0 0 no-repeat;
}
.loginbtn a{
    display: inline-block;
    height: 100%;
    width: 47%;
}

.loginbtn-minisocials,
.loginbtn-minisocials:hover {
    position: absolute;
    width: 92px;
    height: 41px;
    top: 23px;
    right: 0px;
    /*background: url('../i/loginbtn.png') 0 0 no-repeat;*/
    background: url('../img/yellow.png') 0 0 no-repeat;
}

nav.login {
    right: 0px;
}

header nav {
    position: absolute;
    top: 37px;
    right: 194px;
    width: auto;
    height: auto;
    float: right;
    background: transparent;
    box-shadow: none;
    margin: 0 20px 0 0;
}

nav ul li {
    float: left;
    height: 30px;
}

nav ul li span ,
nav ul li a {
    text-transform: uppercase;
    color: #8b9296;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    padding: 0 18px;
    display: block;
    text-decoration: none;
    /*-moz-transition: color 300ms ease-in, background 300ms ease-in, box-shadow 300ms ease-in;*/
    /*-o-transition: color 300ms ease-in, background 300ms ease-in, box-shadow 300ms ease-in;*/
    /*-webkit-transition: color 300ms ease-in, background 300ms ease-in, box-shadow 300ms ease-in;*/
    /*transition: color 300ms ease-in, background 300ms ease-in, box-shadow 300ms ease-in;*/
    line-height: 18px;
    font-family: "HelveticaNeue Light", sans-serif;
    /*font-family: Verdana, Arial, sans-serif;*/
    font-size: 14px;
    letter-spacing: 0.7px;
}

nav>ul>li:hover{
    position: relative;
    z-index: 1000;
}

nav>ul>li:hover a:first-child{

}


nav ul li ul{
    display: none;
    position: absolute;
    background-color: #ffffff;
    top: 25px;
    -moz-box-shadow: 2px 2px 5px #e6e8e8;
    box-shadow: 2px 2px 5px #e6e8e8;
    z-index: 2000;
}
nav ul li:hover ul{
    display: block;
    width: 130px;
}

nav ul li ul li:hover a{
    color: #424c58;
}
nav ul li ul li:hover{
    background-color: #DAD9D4;
    color: #424c58;
    font-weight: bold;
    font-family: "HelveticaNeue Bold", sans-serif;
}
nav ul li ul li a{
    line-height: 34px;
    font-size: 12px;
    text-shadow: none;
}
nav ul li ul li{
    display: block;
    float: none;
    height: 30px;
    line-height: 30px;
}

nav ul li.active a,
nav ul li a:hover {
    color: #44bbcc;
    background: 0;
    padding: 0 18px;
    box-shadow: none;
}

.login-nav {
    width: auto;
    float: right;
    background: transparent;
    box-shadow: none;
    margin: 0;
    height: auto;
    top: -39px;
    right: 29px;
    position: absolute;
}

.chertochka {
    top: 0px;
    right: 0px;
    width: 2px;
    height: 16px;
    background: url('../images/chertochka.png') no-repeat;
}

.minisocials {
    position: absolute;
    width: 66px;
    height: 22px;
    top: 31px;
    right: 120px;
    width: 66px;
    height: 22px;
}

.minisocials li {
    display: block;
    float: left;
}

.minisocials a {
    display: block;
    width: 22px;
    height: 22px;
    float: left;
    padding: 0;
    background-repeat: no-repeat;
    /*background: url(../i/img_13.png);*/
    background-image: url(../img/social.png);
}

.minisocials .fb {
    background-position: 5px -36px;
}

.minisocials .fb:hover {
    background-position: 5px -35px;
}

.minisocials .twitter {
    background-position: 5px 5px;
}

.minisocials .twitter:hover {
    background-position: 5px 6px;
}

.minisocials .vk {
    background-position: 5px -15px;
}

.minisocials .vk:hover {
    background-position: 5px -14px;
}

a {
    color: #666;
    text-decoration: underline;
    outline: none;
}

a:hover {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.in {
    width: 960px;
    margin: 0 auto;
}

.advert-block {
    width: 600px;
}

.advert-preview {
    float: right;
    width: 230px;
    font-weight: 300;
    color: #252525;
}

.price-block {
    width: 730px;
    display: inline-block;
    margin-top: 40px;
}

.price-preview {
    float: right;
    width: 100px;
    display: inline-block;
    margin-top: 52px;
}

.advert-title {
    color: #525252;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 30px;
}

.advert-text {
    color: #525252;
    font-size: 15px;
    float: right;
}

.advert-phone {
    color: #525252;
    font-size: 25px;
    float: right;
}

.advert-mail {
    color: #9aab51;
    float: right;
    font-size: 14px;
    margin-top: -2px;
}

.price-title {
    color: #525252;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.img-phone {
    background: url('../i/phone.png') no-repeat;
    margin: 8px;
    width: 41px;
    height: 71px;
}

.img-phones {
    background: url('../i/phones.png') no-repeat;
    margin: 8px;
    width: 96px;
    height: 71px;
}

.comment-price {
    font-weight: bold;
    color: #525252;
    font-size: 15px;
}

.views-price {
    font-weight: bold;
    color: #9aab51;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
}

.presentation {
    width: 18px;
    height: 28px;
    vertical-align: middle;
    background-image: url('../i/ct-sprite.png');
    background-repeat: no-repeat;
    background-position: 0 -1142px;
    display: inline-block;
    cursor: pointer;
}

.price-click {
    float: right;
    color: #7c7974;
    font-size: 13px;
    font-family: Helvetica, Arial, san-serif;
    font-weight: 300;
}

.rules-block {
    width: 730px;
    display: inline-block;
    margin-top: 30px;
}

.price-rules {
    margin-bottom: 50px;
    color: #7c7974;
    font-size: 14px;
    font-weight: 300;
}

.price-rules span {
    font-family: Helvetica, Arial, sans-serif;
}

.price-technical {
    font: 26px/1 "PFDinDisplayPro", sans-serif;
    font-weight: 700;
    color: #7c7974;
    line-height: 36px;
}

.price-download {
    font: 26px/1 "PFDinDisplayPro", sans-serif;
    font-weight: 300;
    color: #58b0d7;
    line-height: 36px;
    margin-left: 12px;
    cursor: pointer;
}

.statistic {
    width: 19px;
    height: 28px;
    vertical-align: middle;
    background-image: url('../i/ct-sprite.png');
    background-repeat: no-repeat;
    background-position: 0 -1173px;
    margin: 0 0 0 4px;
    display: inline-block;
    cursor: pointer;
}

.title {
    width: 920px;
    margin-top: 45px;
    margin-right: auto;
    margin-bottom: 32px;
    margin-left: auto;
}

.title h1 {
    font-weight: 400;
    color: #444b55;
    letter-spacing: 1px;
    opacity: 1;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    z-index: 300;
    font-family: "HelveticaNeue Light", sans-serif;
    font-size: 33px;
    line-height: 1.5;
}

.title h1.hidden {
    opacity: 0.5;
}

.slider {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider .elements {
    width: 960px;
    height: 640px;
    margin: 0 auto;
    position: relative;
}

.slider .elements .slide-1.phone {
    width: 899px;
    height: 468px;
    background: url(../i/img_21.png) 0 0;
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 100;
    -moz-transition: all 1200ms ease-in-out;
    -o-transition: all 1200ms ease-in-out;
    -webkit-transition: all 1200ms ease-in-out;
    transition: all 1200ms ease-in-out;
}

.slider .elements .slide-1.phone.hidden_slide {
    left: -1500px;
}

.slider .elements .slide-2.phone {
    width: 336px;
    height: 585px;
    background: url(../i/img_22.png) 0 0;
    position: absolute;
    top: 0;
    left: 312px;
    z-index: 100;
    -moz-transition: all 1200ms ease-in-out;
    -o-transition: all 1200ms ease-in-out;
    -webkit-transition: all 1200ms ease-in-out;
    transition: all 1200ms ease-in-out;
}

.slider .elements .slide-2.phone.hidden_slide {
    left: -1500px;
}

.slider .elements .slide-3.phone {
    width: 665px;
    height: 659px;
    background: url(../i/img_23.png) 0 0;
    position: absolute;
    top: 0;
    left: 148px;
    z-index: 100;
    -moz-transition: all 1200ms ease-in-out;
    -o-transition: all 1200ms ease-in-out;
    -webkit-transition: all 1200ms ease-in-out;
    transition: all 1200ms ease-in-out;
}

.slider .elements .slide-3.phone.hidden_slide {
    left: -1500px;
}

.slider .elements .slide-4.phone {
    width: 665px;
    height: 600px;
    background: url(../i/img_24.png) 0 0;
    position: absolute;
    top: 0;
    left: 148px;
    z-index: 100;
    -moz-transition: all 1200ms ease-in-out;
    -o-transition: all 1200ms ease-in-out;
    -webkit-transition: all 1200ms ease-in-out;
    transition: all 1200ms ease-in-out;
}

.slider .elements .slide-4.phone.hidden_slide {
    left: -1500px;
}

.slider .elements hr {
    position: absolute;
    width: 896px;
    border: none;
    border-top: 1px solid #ebf0f1;
    top: 60px;
    left: 55px;
}

.slider-icon {
    width: 123px;
    height: 126px;
    background: url(../i/icon128.png) 0 0;
    position: absolute;
    top: 200px;
    left: 40px;
    z-index: 200;
}

.desc {
    position: absolute;
    width: 428px;
    height: 500px;
    background: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    /*top: 465px;*/
    top: 500px;
    right: -23px;
    z-index: 110;
    -moz-transition: all 1200ms ease-in-out;
    -o-transition: all 1200ms ease-in-out;
    -webkit-transition: all 1200ms ease-in-out;
    transition: all 1200ms ease-in-out;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 40px;
    bottom: 1px;
}

.desc h2 {
    text-transform: uppercase;
    color: #444b55;
    letter-spacing: 0.5px;
    padding: 37px 0 16px 0;
    margin: 0 0 0 -3px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    font-family: "PFDinDisplayPro Bold", sans-serif;
    font-size: 26px;
    line-height: 1.3;
    font-weight: 700;
}

.desc p {
    letter-spacing: 0.5px;
    color: #858e93;
    padding: 0 0 8px 0;
    font-family: "PFDinDisplayPro Regular", sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

.desc p.last {
    padding: 0 0 10px 0;
}

.desc .app-store {
    display: block;
    width: 152px;
    height: 55px;
    float: left;
    background: url(../i/img_12.png) no-repeat;
    margin: 15px 15px 0 0;
}

.desc .app-store:hover {
    background-position: 0 -55px;
}

.desc i {
    font: italic 12px/100px "Georgia", sans-serif;
    color: #989898;
    margin: 0 8px 0 0;
}

.desc .tour {
    color: #ff6900;
    text-decoration: none;
    font-family: "HelveticaNeue Light", sans-serif;
    font-size: 18px;
    line-height: 100px;
}

.desc .tour:hover {
    color: #ff6900;
    text-decoration: none;
}

.desc.hidden_slide {
    right: -1500px;
}

.orangearrow {
    display: inline-block;
    width: 20px;
    height: 19px;
    background: url(../i/orangearrow.png) no-repeat;
    margin: 0 0 -4px 8px;
}

.info {
    width: 940px;
}

.info ul {
    margin: 0;
}

.info li {
    display: block;
    float: left;
    width: 300px;
    margin: 0 0 0 10px;
}

.info h3 {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #444b55;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    padding: 0 0 26px 0;
    white-space: nowrap;
    font-family: "PFDinDisplayPro Bold", sans-serif;
    font-size: 26px;
    line-height: 1.3;
}

.info p {
    color: 858 e93;
    letter-spacing: 0.7px;
    padding: 0 0 32px 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    font-family: "HelveticaNeue Light", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.info .more {
    display: block;
    width: 107px;
    height: 34px;
    color: #809933;
    border: 1px solid #d5d0cc;
    border-radius: 2px;
    box-shadow: 0px 0px 1px 1px rgba(169, 170, 172, 0.2);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 38px;
    font-family: "HelveticaNeue Light", sans-serif;
    font-size: 12px;
}

.info .more:hover {
    color: #668033;
    border: 1px solid rgba(169, 170, 172, 0.25);
    box-shadow: inset 0px 1px 4px 1px rgba(169, 170, 172, 0.2);
}

.description {
    width: 960px;
    margin: 32px auto;
    text-align: center;
}

.description i {
    color: #989898;
    font-family: "HelveticaNeue Light", sans-serif;
    font-size: 12px;
    /*font-style: normal;*/
    line-height: 1;
    letter-spacing: 0.7px;
}

.description h1 {
    font: 33px/1.5 "HelveticaNeue Light", sans-serif;
    font-weight: 400;
    color: #444b55;
    letter-spacing: 1px;
    opacity: 1;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    z-index: 300;
}

.description p {
    color: #ff6900;
    letter-spacing: 0.5px;
    font-family: "HelveticaNeue Light", sans-serif;
    font-size: 18px;
    line-height: 4;
}

.action {
    width: 960px;
}

.action ul {
    width: 744px;
    margin: 0 auto;
}

.action li {
    height: 215px;
    float: left;
    margin: 20px 0;
    text-align: left;
}

.action ul .text {
    width: 312px;
}

.action ul .symbol {
    width: 60px;
}

.action li a {
    position: absolute;
    width: 310px;
    height: 230px;
}

.action h3 {
    letter-spacing: 0.5px;
    color: #ff6900;
    padding: 0 0 26px 0;
    white-space: nowrap;
    /*font-family: "HelveticaNeue Light", sans-serif;*/
    /*font-size: 26px;*/
    font: 33px/1.5 "HelveticaNeue Light", sans-serif;
    line-height: 36px;
}

.action p {
    color: #ff6900;
    letter-spacing: 0.7px;
    padding: 0 0 32px 0;
    font-family: "HelveticaNeue Light", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.videobox {
    width: 960px;
    text-align: center;
    font-size: 0px;
    line-height: 0px;
}

#intro_iphone .videobox,
#intro_iphone .videobox .description,
#intro_web .videobox,
#intro_web .description{
    width: 100%;
}

.smallvideo {
    width: 230px;
    display: inline-block;
    color: #ff6900;
    letter-spacing: 0.5px;
    font: 18px/1.5 "HelveticaNeue Light", sans-serif;
}

.contact {
    width: 868px;
    margin: 80px auto;
    font: 17px/24px "HelveticaNeue Light", sans-serif;
}

.leftContact {
    display: block;
    float: left;
    width: 360px;
    margin: 0 0 0 96px;
    line-height: 1.5;
    border-bottom: 100;
}

.rightContact {
    display: block;
    float: left;
    width: 260px;
    margin: 0 0 0 96px;
    line-height: 1.5;
}

.contact h3 {
    font: 18px "HelveticaNeue Bold", sans-serif;
    letter-spacing: 0px;
    white-space: nowrap;
}

.contact p {
    color: #7c7974;
    letter-spacing: 0.5px;
    padding: 0 0 32px 0;
}

.green {
    color: #339933;
    padding: 0;
}

.phoneText {
    font-family: "HelveticaNeue Light", sans-serif;
    font-size: 23px;
    height: auto;
}

.word {
    font: italic 11px Georgia, sans-serif;
}

.place {
    font: italic 11px Georgia, sans-serif;
    position: absolute;
    bottom: 392px;
    left: 0;
    color: #858e93;
}

.map-block {
    width: 868px;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 88px;
    margin-left: auto;
    text-align: left;
}

section {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
}

.empty {
    height: 254px;
    clear: both;
}

footer {
    background: url('../images/f_bg.png');
    height: 254px;
    margin: -254px 0;
    padding: 0;
}

footer .in {
    width: 996px;
    height: 178px;
    margin: 0 auto;
    padding: 38px 0;
}

.bottomlogo {
    position: absolute;
    width: 162px;
    height: 54px;
    background: url('../i/bottomlogo.png') 0 0 no-repeat;
    top: 80px;
    left: 0px;
}

footer .logo a {
    position: absolute;
    width: 100%;
    height: 100%;
}

footer .navi {
    position: absolute;
    top: 95px;
    left: 260px;
}

footer .navi li {
    display: inline-block;
    padding: 0 29px 0 0;
}

footer .navi a {
    color: #dddbd4;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 300ms ease-in-out;
    font-family: "HelveticaNeue Light", sans-serif;
    font-size: 17px;
    line-height: 1;
}

footer .navi a:hover {
    color: #889094;
}

footer .copy {
    position: absolute;
    top: 150px;
    left: 260px;
    color: #585b5e;
    letter-spacing: 0.5px;
    font-family: "PFDinDisplayPro Bold", sans-serif;
    font-size: 14px;
    line-height: 1;
}

footer .socials {
    position: absolute;
    top: 78px;
    right: 0px;
}

.socials li {
    display: block;
    float: left;
}

.socials a {
    display: block;
    width: 61px;
    height: 61px;
    float: left;
    background: url(../i/img_10.png);
}

.socials .fb {
    background-position: 0 0;
}

.socials .fb:hover {
    background-position: 0 -61px;
}

.socials .twitter {
    background-position: -61px 0;
}

.socials .twitter:hover {
    background-position: -61px -61px;
}

.socials .vk {
    background-position: -122px 0;
}

.socials .vk:hover {
    background-position: -122px -61px;
}

.pixel1 {
    width: 1200px;
    height: 2005px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -596px;
    background: url(../../layers/0_0_10_finish.jpg) center top;
    opacity: 0.4;
    z-index: 10000;
}

/*--------------------NEW STYLE--------------------*/

i.icon,
.medium,
.big {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background-image: url('../i/ct-sprite.png');
    background-repeat: no-repeat;
}

.icon.big {
    width: 48px;
    height: 48px;
}

.mail {
    background-position: 0 4px;
    margin-right: 16px;
}

.phone {
    background-position: 0 -32px;
    margin-right: 16px;
}

.skype {
    background-position: 0 -68px;
    margin-right: 16px;
}

.respond {
    background-position: 0 -932px;
}

.like {
    background-position: 0 -988px;
}

.like.disabled {
    background-position: -18px -988px;
}

.icon.date {
    width: 19px;
    height: 19px;
    background-position: 0 -1016px;
}

.bill {
    background-position: 0 -100px;
}

.projector {
    background-position: 0 -164px;
}

.star {
    background-position: 0 -216px;
}

.stars {
    background-position: 0 -274px;
}

.nums {
    background-position: 0 -332px;
}

.cart {
    background-position: 0 -390px;
}

.bill-plus {
    background-position: 0 -448px;
}

.wallet {
    background-position: 0 -506px;
}

.cloud {
    background-position: 0 -564px;
}

.flag {
    background-position: 0 -622px;
}

.disk {
    background-position: 0 -680px;
}

.chart {
    background-position: 0 -738px;
}




.wallet-color {
    background-position: 6px -114px;
}

.disk-color {
    background-position: 6px -53px;
}

.projector-color {
    background-position: 6px -5px;
}



.icon.medium {
    width: 28px;
    height: 28px;
    margin-right: 14px;
}

.av {
    background-position: 0 -796px;
}

.eye {
    background-position: 0 -831px;
}

.bubble {
    background-position: 0 -862px;
}

.l-arrow {
    background-position: 0 -898px;
}

.map-block a {
    font-size: 11px;
    font-weight: normal;
    color: #a1a1a1 !important;
}

.container {
    font: 15px/1 "HelveticaNeue", sans-serif;
    position: relative;
    width: 868px;
    padding: 32px 64px;
    margin: 0 auto 104px;
    background-color: #fff;
    box-shadow: 0 15px 20px #e6e8e8;
}

.container a {
    text-decoration: none;
    color: #339933;
}

.container h1 {
    font: 36px/1 "PFDinDisplayPro", sans-serif;
    margin-top: 0;
    margin-bottom: 30px;
    color: #252525;
}

.container h2 {
    font: 21px/1 "HelveticaNeue", sans-serif;
    font-weight: 700;
    color: #339933;
    position: relative;
    top: 5px;
    margin-bottom: 30px;
}

.container h6 {
    font: 36px/2 "PFDinDisplayPro Bold", sans-serif;
    margin-top: 0;
    color: #444b55;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.container strong {
    font-size: 18px;
    font-weight: 700;
}

.container hr {
    border: 0;
    border-top: 1px solid #e7e8ea;
    height: 0;
}

.status-left {
    position: absolute;
    top: 24px;
    left: 48px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #66cdcd;
    /*font: 15px/1 "HelveticaNeue Bold", sans-serif;*/
    font: 17px/1 "PFDinDisplayPro Bold", sans-serif;
}

.status-right {
    position: absolute;
    top: 60px;
    top: 25px;
    right: 64px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #66cdcd;
    font: 13px/1 "HelveticaNeue Bold", sans-serif;
}

.container .ribbon {
    text-align: center;
    background: url('../i/ribbon.png') 0 0 no-repeat;
    width: 432px;
    height: 76px;
    font: 26px/1 "PFDinDisplayPro", sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 -1px 0 #7d7d7d;
    padding-top: 13px;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 63px;
    margin-left: auto;
}

.snapshot {
    padding: 0 36px;
    position: relative;
}

.snapshot h3 {
    font: 26px/1 "PFDinDisplayPro", sans-serif;
    font-weight: 300;
    color: #FF6900;
    position: relative;
    margin-bottom: 14px;
}

.snapshot h3 i {
    position: absolute;
    left: -80px;
}

.snapshot.right h3 i {
    left: -78px;
    top: 2px;
}

.snapshot .description {
    width: 366px;
    float: left;
    padding-left: 78px;
    margin-left: 60px;
}

.snapshot > img {
    margin-right: -8px;
    float: right;
}

.snapshot.right .description {
    float: right;
    padding-left: 0;
    margin-left: 0;
}

.snapshot.right > img {
    margin-right: 0;
    float: left;
}

.snapshot .description ul {
    margin-top: 89px;
}

.snapshot.right .description ul {
    margin-top: 106px;
}

.snapshot .description li {
    margin-bottom: 50px;
}

.snapshot .description p {
    color: #9f9b93;
    /*	font-size: 18px;
line-height: 27px;*/
    font-size: 17px;
    line-height: 25px;
    letter-spacing: normal;
}

.snapshot .description p.small {
}

.to-appstore {
    display: block;
    text-indent: -999em;
    width: 152px;
    height: 55px;
    background: url('../i/go-to-appstore.png') 0 0 no-repeat;
}

.to-appstore:hover {
    background-position: 0 -55px;
}

.to-appstore.tl {
    position: absolute;
    right: 13px;
    top: -25px;
}

.to-appstore.br {
    position: absolute;
    bottom: 14px;
    left: 90px;
    top: 500px;
}

.hero-unit {
    font: 33px/36px "HelveticaNeue Thin", sans-serif;
    padding-right: 160px;
    padding-top: 36px;
    padding-bottom: 33px;
    line-height: 1.3;
}

.rules_page{
    background: url('../i/stamp.png') 795px 142px no-repeat;
    background-color: #ffffff;
}

.rules_page p{
    letter-spacing: normal;
}

.hero-unit.hero-image {
    position: relative;
    padding-right: 0;
    width: 868px;
    padding-top: 34px;
    background: 0;
}

.content-block {
    width: 700px;
    padding-right: 168px;
    color: #7c7974;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.5px;
}

.content-block h1 {
    line-height: 47px;
    text-shadow: none;
}

.content-block h2 {
    font: 26px/36px "PFDinDisplayPro Bold", sans-serif;
    color: #444b55;
    margin: 32px 0 15px;
    letter-spacing: 0.5px;
}

.content-block ul {
    padding-left: 30px;
}

.content-block ul li {
    position: relative;
}

.content-block ul li:before {
    content: "•";
    position: absolute;
    left: -30px;
}

.content-block strong {
    font-size: inherit;
}

.post-credits {
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    color: #cdcbc8;
}

.post-credits a {
    font-weight: 400;
    color: #cdcbc8;
    margin-right: 45px;
}

.post-credits span {
    margin-right: 35px;
}

.post-small {
    width: 458px;
    height: 140px;
    display: inline-block;
    overflow: hidden;
}

h1 {
    cursor: pointer;
}

h1.fresh {
    margin-bottom: 21px;
}

a.read-more {
    color: #ff8e58;
    cursor: pointer;
}

.post-btn,
a.post-btn {
    display: block;
    border: 0;
    width: 278px;
    height: 60px;
    line-height: 4;
    text-transform: uppercase;
    text-align: center;
    color: #72563a;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 1px;
    background-color: #ece9e2;
    font-weight: 700;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.post-btn:hover,
a.post-btn:hover {
    background: #d2cec0;
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(169, 170, 172, 1);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(169, 170, 172, 1);
    box-shadow: inset 0px 0px 5px 1px rgba(169, 170, 172, 1);
}

.post-btn .l-arrow,
a.post-btn .l-arrow {
    background-position: 0 -904px;
    font-size: 16px;
    height: 16px;
    margin-right: 0;
    margin-left: 26px;
}

.post-block {
    width: 700px;
    margin-top: 60px;
}

.post-block h1 {
    color: #252525;
}

.post-block h1:hover {
    color: #ff6900;
}

.post-block .post-content {
    font-size: 18px;
    line-height: 36px;
    margin: 60px 0 80px;
}

.post-block .post-content p {
    margin: 20px 0;
}

.posts-preview {
    float: right;
    width: 130px;
}

.posts-preview .time {
    color: #d8dbdc;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 300;
}

.posts-preview .text-preview {
    margin-bottom: 40px;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
    color: #252525;
    line-height: 1.5;
}

.posts-preview .text-preview:hover {
    color: #ff6900;
}

.posts-preview img {
    width: 48px;
    height: 48px;
}

.comment {
    position: relative;
    padding-left: 98px;
    margin: 60px 0 40px;
}

.comment .avatar {
    position: absolute;
    top: 0;
    left: 0;
}

a.comment-author {
    color: #47433c;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
}

.post-author-mark {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    background-color: #9cc346;
    height: 18px;
    line-height: 20px;
    padding: 2px 10px 0;
    margin-top: 2px;
    margin-left: 56px;
    letter-spacing: 1px;
}

.comment-text {
    font-size: 17px;
    line-height: 28px;
    margin: 15px 0 22px;
}

h2.comments-header {
    font: 34px/36px "PFDinDisplayPro", sans-serif;
    color: #ff6900;
    margin: 30px 0 30px;
}

.comment-controls {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

span.respond {
    color: #bebbb6;
    cursor: pointer;
}

span.respond:hover {
    color: #938e85;
}

.comment-controls i.respond {
    background-position: 0 -934px;
    margin-right: 17px;
    width: 20px;
}

.date {
    color: #d8dbdc;
    margin-right: 30px;
    word-spacing: 6px;
    margin-left: 100px;
}

.comment-form .attach {
    background-position: 0 -1110px;
    margin-right: 6px;
    cursor: pointer;
}

span.attach:hover {
    color: #47433c;
}

.comment-controls i.date {
    margin-top: -4px;
}

.comment-controls .delete {
    background-position: 0 -1084px;
}

.comment-controls .like {
    background-position: 0 -990px;
}

.comment-controls .edit {
    background-position: 0 -1054px;
    cursor: pointer;
}

.likes-num {
    color: #938e85;
}

.comment-form label {
    display: block;
    color: #b1b4b7;
    font-size: 15px;
    font-weight: 300;
    margin: 30px 0;
}

.comment-form textarea {
    font: 25px/1 "HelveticaNeue", sans-serif;
    border: 1px solid #d7d6d0;
    color: #555;
    padding: 20px;
    margin-top: 14px;
    width: 658px;
    height: 150px;
}

.comment-form input[type="text"] {
    font: 25px/1 "HelveticaNeue", sans-serif;
    border: 1px solid #d7d6d0;
    color: #555;
    padding: 0 20px;
    margin-top: 14px;
    width: 328px;
    height: 60px;
}

.comment-form input[type="text"]:focus,
.comment-form textarea:focus {
    box-shadow: inset 1px 2px 3px rgba(201, 198, 191, .75);
}

.clearfix {
    clear: both;
}

.large-image {
    max-width: 700px;
}

.middle-image {
    max-width: 594px;
    margin-top: 20px;
}

.small-image {
    width: 202px;
    height: 164px;
    float: left;
    margin: 10px 40px 0 0;
}

.slideText {
    text-align: left;
    padding: 0 0 0 20px;
    font-size: 16px;
}

/* Payment page Start */
.payment-page,
.feedback-page {
    padding: 40px 91px 80px;
    width: 815px;
}
/* Payment page End */
.additional-info-colapser{
    border-top: 1px solid #CCCCCC;
    position: relative;
    height: 20px;
}

.additional-info-colapser .switcher{
    position: absolute;
    right: 0px;
    background-image: url("/img/payment/payments_sprite.png");
    background-repeat: no-repeat;
    background-position: -361px -13px;
    height: 20px;
    width: 17px;
    border: 1px solid #CCCCCC;
    border-width: 0px 1px 1px;
    cursor: pointer;
}

.additional-info-colapser .switcher:before{
    position: absolute;
    color: #ccc;
    content: 'Скрыть';
    right: 22px;
    top: 0px;
    font-size:10px;
}

.additional-info-colapser .switcher.open:before{
    content: '';
}    

.additional-info-colapser .switcher.open{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
    border-width: 1px 1px 0px;
}    

.payment-page,
.feedback-page {
    color: #707070;
    font-size: 14px;
    line-height: 24px;
}

.payment_description{

}


.payment_description{

}

.payment-page .progress_chart{
    text-align: center;
    margin-bottom: 20px;
}

.payment-page .progress_chart img{
    margin-left: 10px;
}

.payment-page .center{
    text-align: center;
}
.payment-page .italic{
    font-style: italic;
    font-family: Georgia, "HelveticaNeue Light",sans-serif;
    color: #b6c1c6;
}

.payment-page h2,
.feedback-page h2,
.payment-page h3{
    color: #707070;
    font-family: "HelveticaNeue Bold",sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 0 -3px;
    padding: 37px 0 16px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.feedback-page h2,
.payment-page h2{
    font-family: "HelveticaNeue Light",sans-serif;
    font-weight: normal;
    color: #FF6900;
    text-shadow: none !important;
    letter-spacing: 0.07rem;
}

.payment-page h3{
    font-size: 22px;
    letter-spacing: 0.07rem;
}

.app_cost,
.testimonials_header,
.payment_description{
    margin-top: 60px !important;
}

.float_left_column{
    float: left;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
}

.float_left_column .list_box{
    min-height: 190px;
    position: relative;
    margin-bottom: 40px;
}

.float_left_column .list_box .out_link{
    display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 28px;
    height: 28px;
    background-image: url("/img/payment/payments_sprite.png");
    background-repeat: no-repeat;
    background-position: -42px -5px;
}

.float_left_column .list_box .out_link.blue{
    background-position: 0 -5px;
}
.float_left_column .list_box .out_link.green{
    background-position: -42px -5px;
}

.float_left_column ul{

}
.float_left_column ul li{
    line-height: 26px;
}

.float_left_column ul li:before{
    content: "- ";
}

.payment-page h1{
    font-family: "HelveticaNeue Light",sans-serif;
    color: #707070;
    font-size: 34px;
    line-height: 42px;
}

/* Testimonials */

.testimonials{
    overflow: hidden;
}

.testimonials_header{
    position: relative;
}

.testimonials_header .testimonials_navigation{
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5px;
}

.testimonials_navigation div{
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    background-image: url("/img/payment/payments_sprite.png");
    background-repeat: no-repeat;
    margin-left: 5px;
    cursor: pointer;
}
.testimonials_navigation .nav_prev{
    background-position: -80px -3px;
}
.testimonials_navigation .nav_next{
    background-position: -120px -3px;
}

.testimonials_holder{
    overflow: hidden;
    position: relative;
    height: 220px;
    margin-right: -300px;
}

.testimonials_holder .testimonials_body{
    display: block;
    width: 253px;
    margin-left: 2%;
    height: 200px;
    float: left;
}


.testimonials_holder .testimonials_user{
    padding: 15px 0 15px 40px;
    font-size: 11px;

}
.testimonials_holder .testimonials_user_message{
    display: inline-block;
    width: 100%;
    height: 180px;
    background-color: #eaeef2;
    vertical-align: middle;
    font-size: 11px;
    line-height: 15px;
    padding: 20px 30px 20px 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.testimonials_holder .testimonials_user_message{
    display: table-cell;
    vertical-align: middle;
}

.testimonials_holder .testimonials_user_message:before{
    content: "";
    position: absolute;
    display: block;
    height: 0px;
    width: 0px;
    border: 8px solid #eaeef2;
    top: 40px;
    left: 25px;
    border-color: transparent #eaeef2 #eaeef2 transparent;
}


.testimonials_holder .testimonials_body:nth-child(2n) .testimonials_user_message{
    background-color: #fbf9f5;
}
.testimonials_holder .testimonials_body:nth-child(2n) .testimonials_user_message:before{
    border-color: transparent #fbf9f5 #fbf9f5 transparent;
}

.payment-page a{
    color: #00A5C7;
    line-height: 26px;
}

.payment-page .app_cost{
    margin-top: 40px;
}

.payment-page .app_cost_table{
    margin: 20px 0;
    position: relative;
}


.app_cost_table .pay_links{
    position: absolute;
    bottom:5px;
    right:0;
    height: 80px;
}

.app_cost_table .pay_links a{
    display: block;
    float:right;
    margin:0 5px 0 4px;
    height: 80px;
    width:80px;
    border-radius:50%;
}

.wizard-navigation{
    display: block;
    height: 75px;
    position: relative;
}

.wizard-navigation > div{
    position: absolute;
    top: -15px;
    right: -68px;
    overflow:hidden;
}
.wizard-navigation div span,
.wizard-navigation div a{
    font-style: normal;
    font-size:13px;
    color: #707070;
    display: block;
    position: relative;
    float: left;
    padding: 0 20px 0 30px;
    height: 35px;
    min-width: 130px;
    line-height: 38px;
    background-color: #f7f6f2;
}
.wizard-navigation div span{
    background-color: #f3f1e8;    
}

.wizard-navigation div a:after,
.wizard-navigation div span:after{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    right: -44px;
    top: -13px;
    border-style: solid;
    border-color: transparent transparent transparent #f7f6f2;
    border-width: 30px 30px 30px 15px;
    z-index:11;
}

.wizard-navigation div span:after{
    border-color: transparent transparent transparent #f3f1e8;
}    

.wizard-navigation div a:before,
.wizard-navigation div span:before{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    right: -46px;
    top: -13px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    border-width: 30px 30px 30px 15px;
    z-index:10;
}

.wizard-navigation > div > :first-child{
    padding-left:20px;
}

.wizard-navigation > div > :last-child:before,
.wizard-navigation > div > :last-child:after{
    display:none;
}

.pay_link_holder{
    margin-top:20px;
}

.pay_link_holder .pay_link{
    display: block;
    background: #f8f8f8;
    background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f8f8f8));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8f8f8', GradientType=0);
    border: 1px solid #c2c2c2;
    
    border-radius: 4px;
    
    float:left;
    width: 180px;
    height:100px;
    margin: 15px 15px 0px 0;
}

.pay_link_holder .pay_link:nth-child(4n){
    margin-right:0;
}

.pay_link_holder .pay_link a{
    display: block;
    width:100%;
    height:100%;
}

.feedback-page p{
    margin: 15px 0 25px;
    line-height: 28px;
}

.feedback_form{
    background-image:url('/img/feedback.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.feedback-page .form_row{
    margin: 15px 0;
}

.feedback-page .form_row textarea{
    min-height: 100px;
    width:55%;
    padding: 10px 0 0 17px;
}
.hidden{
    display: none !important;
}

.page_switcher{
    text-align: center;
    margin-top: -50px;
    padding-bottom: 20px;
}

.page_switcher a{
    font-family:"HelveticaNeue Bold",sans-serif;
    color: #707070;
    color: #02a3c5;
    font-size: 16px;
}

.page_switcher a.current{
    color: #02a3c5;
    color: #707070;
}

.page_switcher span{
    display: inline-block;
}

.page_switcher span a{
    padding: 0 15px;
    display: block;
    z-index: 10001;
}


#intro_web p,
#intro_iphone p {
    font-size: 16px;
}

#intro_web .snapshot{
    border-top: 1px solid #CCCCCC;
}

#intro_web .snapshot:first-child{
    border-top: none;
    /*margin-top: -60px;*/
    padding-top: 10px;
}

#intro_web .snapshot{
    text-align: center;
    margin: 0;
    padding: 70px 10px 20px 10px;
}

#intro_web .snapshot img{
    float: none;
    margin: 0;
}

#intro_web .snapshot h2{
    /*color: #444B55;*/
    /*color: #FF6900;*/
    /*font-family: "PFDinDisplayPro",sans-serif;*/
    /*font-weight: 400;*/
    /*font-size: 26px;*/
    font-family: "HelveticaNeue Light",sans-serif;
    font-weight: normal;
    color: #FF6900;
    font-size: 30px;
}

#intro_web .snapshot div,
#intro_web .snapshot h2{
    text-align: left;
}

#intro_web .snapshot .description > p{
    display: inline-block;
    width: 47%;
    margin-right: 2%;
    vertical-align: top;
}

#intro_web .snapshot .description{
    float: left;
    margin-left: 40px;
    padding-left: 78px;
    width: 630px;
}

#intro_web i{
    /*background-image: url("/img/payment/intro_web_sprite.png");*/
}

.pay_link a{
    background-image: url("/img/payment/pay_services.png");
    background-position: left top;
    background-repeat: no-repeat;
}

.visa_mastercard a{
    background-position: 6px 0px;
}

.yandex_money a{
    background-position: 3px -108px;
}

.euronet_wallet a{
    background-position: 3px -216px;
}

.paypal_wallet a{
    background-position: -166px 0px;
}

.mobile_wallet a{
    background-position: -166px -108px;
}

.qiwi_wallet a{
    background-position: -166px -216px;
}

.webmoney_wallet a{
    background-position: -342px 0px;
}
.success_pay{
    background-image: url('/img/payment/gift.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 40px 450px 20px 0;
}