<!--<div class="wizard-navigation">-->
    <!--<div>-->
        <!--<a href="#">1. ПРЕДЛОЖЕНИЕ</a>-->
        <!--<a href="#">2. ВЫБОР СПОСОБА</a>-->
        <!--<span>3. ОПЛАТА</span>-->
    <!--</div>-->
<!--</div>-->
<div class="success_pay">
    <p>Дорогой друг.</p>
    <h2>Ваш платеж прошел!</h2>
    <p class="italic" style="color: #CCCCCC">Чтобы сохранить своим настройки, за несколько дней продлите статус.</p>
<br>
<br>
    <p>Ваш текущий статус - 1 месяц.<br>
        Заканчиваеться через 31 день.<br>
        Действует по <b style="color: #ff9000">21 января 2014 года.</b>
    </p>
<br>
<br>
<br>
    <div>
        <input type="button" value="Войти" onclick="location.href = '/account'">
    </div>
</div>