<script src="/js/utils/ServerApi.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //additional-info-colapser
        var colapser = $('.additional-info-colapser .switcher'),
                colapsCont = $('.additional-info');

        colapser.on('click',function(){
            colapsCont.toggleClass('hidden');
            colapser.toggleClass('open');
        });

        (function(){
            var testimonialsPattern = "<div class='testimonials_body'>\
                <div class='testimonials_user'>от {!name}</div>\
                <div class='testimonials_user_message'>\
                        <p>{!message}</p>\
                </div>\
                </div>";

            var testimonials = [],
                    cursor = 2,
                    len = 0,
                    holder = $('.testimonials_holder'),
                    busy = false;

            ServerApi.getResponseList({},function(r){
                if(r){
                    $.each(r,function(k,item){
                        testimonials.push(testimonialsPattern
                                .replace('{!name}',item.name)
                                .replace('{!message}',item.message));
                    });
                    len = testimonials.length;
                    holder.empty();
                    for(var i = 0;i< 3;i++){
                        holder.append(testimonials[i]);
                    }
                }
            });

            $('.testimonials_navigation').on('click', function (e) {
                if (busy) return false;
                busy = true;

                var firstIdx,
                        $animatedEl,
                        $el = $(e.target);
                if ($el.hasClass('nav_prev')) {
                    cursor--;
                    cursor = cursor < 0 ? len - 1 : cursor;
                    firstIdx = cursor - 2;
                    firstIdx = firstIdx < 0 ? len + firstIdx : firstIdx;

                    $animatedEl = $(testimonials[firstIdx]).css({'margin-left': '-255px'});
                    holder.prepend($animatedEl);
                    $animatedEl.animate({'margin-left': '0'}, function () {
                        holder.find('.testimonials_body:last').remove();
                        busy = false;
                        $animatedEl.removeAttr('style');
                    });
                } else {
                    cursor++;
                    cursor = cursor > len - 1 ? 0 : cursor;
                    firstIdx = cursor - 2;
                    firstIdx = firstIdx < 0 ? len + firstIdx : firstIdx;

                    $animatedEl = holder.find('.testimonials_body:first');
                    holder.append($(testimonials[cursor]));
                    $animatedEl.animate({'margin-left': '-255px'}, function () {
                        busy = false;
                        $animatedEl.remove();
                    });
                }
            });
        })()
    });
</script>
<div class="wizard-navigation">
    <div>
        <span>1. ПРЕДЛОЖЕНИЕ</span>
        <a href="#">2. ВЫБОР СПОСОБА</a>
        <a href="#">3. ОПЛАТА</a>
    </div>
</div>
<h1>Мы помогаем людям создать
    <br>положительные изменения с своими деньгами.
    <br>Сейчас Ваша очередь.</h1>
<div class="additional-info-colapser">
    <div class="switcher"></div>
</div>
<div class="additional-info">
    <h2>Создай прогресс своих денежных средств!</h2>
    <div class="progress_chart">
        <span style="position: absolute;left:0;" class="italic">Как это сделать:</span>
        <img src="/img/payment/graphics.png">
    </div>
    <div class="payment_description">
        <h2 class="center">Содержание</h2>
        <p class="center italic">Сервис включает в себя:</p>
        <div class="float_left_column">
            <h3>Приложение iPhone</h3>
            <div class="list_box">
                <uL>
                    <li>Одна сводная форма, 6 главных величин.</li>
                    <li>Фаворитные транзакции в два действия.</li>
                    <li>Ввод данных.</li>
                    <li>Отслеживает 9 типов денежных средств.</li>
                    <li>OnLine & OffLine.</li>
                    <li>Подробные графики.</li>
                    <li>Статистика.</li>
                </uL>
                <a class="out_link green" href="/tour.html#intro_iphone"></a>
            </div>
            <div class="italic">Будет полезно людям, которые не любят хранить чеки и предпочтут фиксировать
                расходы в любом месте.</div>
        </div>
        <div class="float_left_column">
            <h3>Web-приложение</h3>
            <div class="list_box">
                <uL>
                    <li>Доступен Ваш балансовый лист.</li>
                    <li>Возможность создать и увидеть все платежи.</li>
                    <li>Отслеживает 9 типов денежных средств.</li>
                    <li>И будьте готовы идти дальше!</li>
                </uL>
                <a class="out_link blue" href="/tour.html#intro_web"></a>
            </div>
            <div class="italic">Для пользователей, которые предпочтут увидеть информацию более развернуто,
                чем может дать мобильный телефон.</div>
        </div>
        <div class="center clear" style="padding: 40px 0 ">
            <img src="/img/payment/iPhoneImac.png">
        </div>
        <div class="testimonials">
            <div class="testimonials_header center">
                <h2>Клиенты о нас ...</h2>
                <div class="testimonials_navigation">
                    <div class="nav_prev"></div>
                    <div class="nav_next"></div>
                </div>
            </div>
            <div class="testimonials_holder">
                <div class="testimonials_body">
                    <div class="testimonials_user">от Superbabochka</div>
                    <div class="testimonials_user_message">
                        <p>Спасибо! Двигайтесь в том же направлении!</p>
                    </div>
                </div>
                <div class="testimonials_body">
                    <div class="testimonials_user">от Jou_Jizzy</div>
                    <div class="testimonials_user_message">
                        <p>Все отлично и хорошо! Прям хватает по полной:) Единственное что хотелось
                            бы - вместо стартового экрана с почтой и паролем, вводить цифровой пароль
                            из 4 цифр, как на защите разблокировки.</p>
                    </div>
                </div>
                <div class="testimonials_body">
                    <div class="testimonials_user">от IVAN312330</div>
                    <div class="testimonials_user_message">
                        <p>К плюсам отнесу простоту, минималистичный дизайн. То что надо простому
                            человеку. Нет кучи дурацких настоек. Но конечно, чувствуется некоторая
                            недоработанность, не очень удобная навигация. Не хватает раздела “Помощь”.</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="app_cost">
    <h2 class="center">Стоимость</h2>
    <p class="center italic">Каждый месяц, первые 3 зарегистрированных пользователя получют бесплатно
        подписку на месяц.</p>
    <div class="app_cost_table">
        <img src="/img/may/Form-Cost.png" />
        <div class="pay_links">
            <a href="?action=pay&amp;summ=680"></a>
            <a href="?action=pay&amp;summ=112"></a>
            <a href="?action=pay&amp;summ=63"></a>
        </div>
    </div>
    <p class="center italic">Следите за своими денежными средствами, анализируйте, планируйте, будьте
        благополучны!</p>
    <p class="center">
        <br>
        <a href="/rules.html#intro_terms">Условия тарифных планов</a>
    </p>
</div>