<script src="/js/config/ApplicationSettings.js" ></script>
<script src="/js/utils/ServerApi.js" ></script>
<script src="/js/utils/util.js" ></script>
<script>
    (function (window, document, $) {
        var token = getCookie(ApplicationSettings.cookieName),
                login;

        $(function () {
            var form_holder = $('.autorisation_false'),
                    invitation_holder = $('.autorisation_true'),
                    showForm = function(){
                        invitation_holder.addClass('hidden');
                        form_holder.removeClass('hidden');
                    },
                    showInvit = function(){
                        form_holder.addClass('hidden');
                        invitation_holder.removeClass('hidden');
                    },
                    checkToken = function(){
                        ServerApi.getUserByToken({
                            token: token
                        }, function (r) {
                            if(r){
                                login = r[0].login;
                                $('.login').text(login);
                            }else{
                                showForm();
                            }
                        });
                    };
            if (token) {
                showInvit();
                checkToken();
            }else{
                showForm();
                $('#login_button').on('click',function(){
                    ServerApi.loginUser({
                        user: $('#user_login').val(),
                        password: $('#user_password').val()
                    },function(r){
                        if(r){
                            token = r.token;
                            setCookie(ApplicationSettings.cookieName,token);
                            checkToken();
                            showInvit();
                        }
                    });
                })
            }
            $(".pay_link a").on('click',function(e){
                var $el = $(e.target),
                        href = $el.attr('href').substr(1);
                $.get(location.pathname+location.search+'&dir='+href,function(r){
                   var res = r.response,
                           span;
                    if(res){
                        $('.paper_content').html(res);
                        span = $('.wizard-navigation span');
                        span.before('<a href="'+location.pathname+location.search+'">'+span.text()+'</a>');
                        span.text(span.next().text());
                        span.next().remove();

                        $('#token').val(token);
                        $('#summ').val(getParameterByName('summ'));
                        $('#text_summ').text(getParameterByName('summ')+' руб.');

                        $('#shopSuccessURL').val(location.protocol+'//'+location.host+'?action=confirm');
                        $('#shopFailURL').val(location.protocol+'//'+location.host+'?action=fail');
                    }

                });

                return false;
            });

        });
    })(window, document, jQuery);
</script>
<div class="wizard-navigation">
    <div>
        <a href="/payment">1. ПРЕДЛОЖЕНИЕ</a>
        <span>2. ВЫБОР СПОСОБА</span>
        <a href="#">3. ОПЛАТА</a>
    </div>
</div>
<div class="paper_content" styel="min-height:600px">
    <p style="width: 300px">{!invitation}</p>
    <p class="autorisation_true hidden" style="width: 300px">Для аккаунта: <b class="login"></b></p>
    <div class="autorisation_false hidden">
        <h2>Авторизация</h2>
        <p class="italic" style="color:#ccc">
            Вам необходимо войти в систему, для зачисления средств на Ваш аккаунт.
        </p>
        <div style="height:40px; min-width:100px; margin:10px 0">
            <input style="width:300px" type="email" placeholder="Электронная Почта" name="user" id="user_login">
        </div>
        <div style="height:40px; min-width:100px; margin:10px 0">
            <input style="width:300px" type="password" placeholder="Пароль" name="password" id="user_password">
        </div>
        <div style="height:40px; min-width:100px; margin:10px 0">
            <input type="button" value="Войти" id="login_button">
        </div>
    </div>
    <h2>Выберите способ оплаты</h2>
    <p class="italic" style="color:#ccc">
        Понимание личных денег — ваш ключ к успеху! Все платежи без комиссии.
    </p>
    <div class="pay_link_holder">
        <div class="pay_link visa_mastercard">
            <a href="#visa_mastercard"></a>
        </div>
        <div class="pay_link yandex_money">
            <a href="#yandex_money"></a>
        </div>
        <div class="pay_link euronet_wallet">
            <a href="#euronet_wallet"></a>
        </div>
        <div class="pay_link paypal_wallet">
            <a href="#paypal_wallet"></a>
        </div>
        <div class="pay_link mobile_wallet">
            <a href="#mobile_wallet"></a>
        </div>
        <div class="pay_link qiwi_wallet">
            <a href="#qiwi_wallet"></a>
        </div>
        <div class="pay_link webmoney_wallet">
            <a href="#webmoney_wallet"></a>
        </div>
        <div class="clear"></div>
    </div>
</div>